---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <hr>

  <ul class="post-list">
    {% for tool in site.data.tools %}
      <li>
        <h2>
          {{ tool.name }}
        </h2>
        <p>
          {{ tool.img }}
        </p>
      </li>
    {% endfor %}
  </ul>

  <hr>

  <ul class="post-list">
    {% for history in site.data.history %}
      <li>
        <h3>
          {{ history.title }}
        </h3>
        <p>
          {{ history.company }}, {{ history.time }}
        </p>
        <p>
          {{ history.description }}
        </p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
