---
layout: page
title: Portfolio
subheading: All my past work in front-end web development and journalism that's worth sharing
permalink: /portfolio/
---

<section class="Portfolio_Cards">
	{% for portfolio in site.data.portfolio %}
		<div class="Portfolio-Card-Container {% if portfolio.highlight %}Portfolio-Card-Container--highlight{% endif %}">
			<a href="{{ portfolio.link }}" class="Portfolio-Card" target="_blank">
		    <div
		    	data-lazyload data-original="http://img09.deviantart.net/dbea/i/2013/247/3/8/athena_cykes_by_tatsuri-d6inqcj.jpg"

		    	style="background-image: url('{{ "/img/pages/lazyload-placeholder.jpg" | prepend: site.baseurl }}');"

		    	class="Portfolio-Card__img">
		    </div>

		    <div class="Portfolio-Card__title">
		      <h6 class="Portfolio-Card__title-text">
		      	{{ portfolio.name }}
		      </h6>
		    </div>

		    <div class="Portfolio-Card__descr">
		      <p class="Portfolio-Card__descr-text">
		      	{{ portfolio.description }}
		      </p>
		    </div>
		  </a>
	  </div>
	{% endfor %}
</section>

