---
layout: wide
title: Portfolio
subheading: All my past work in front-end web development and journalism that's worth sharing
permalink: /portfolio/
---

<section class="Portfolio_Cards">
	{% for portfolio in site.data.portfolio %}
		<div class="Portfolio-Card-Container {% if portfolio.highlight %}Portfolio-Card-Container--highlight{% endif %}">
			<a href="{{ portfolio.link }}" class="Portfolio-Card" target="_blank">
		    <div
		    	data-lazyload data-original="{% if portfolio.image %} {{ site.baseurl }}/img/portfolio/{{ portfolio.image }} {% else %} {{ site.baseurl }}/img/nav.jpg {% endif %}"

		    	style="background-image: url('{{ '/img/pages/lazyload-placeholder.jpg' | prepend: site.baseurl }}');"

		    	class="Portfolio-Card__img">
		    </div>

		    <div class="Portfolio-Card__title">
		      <h6 class="Portfolio-Card__title-text">
		      	{{ portfolio.name }}
		      </h6>
		    </div>

		    <div class="Portfolio-Card__descr">
		      <p class="Portfolio-Card__descr-text">
		      	{{ portfolio.description }}
		      </p>
		    </div>
		  </a>
	  </div>
	{% endfor %}
</section>

