blockquote:not(.twitter-tweet) {
  --bq-width: 100%;

  width: var(--bq-width);
  padding: var(--spacing-base) 5%;
  margin: 0 0 var(--spacing-double) 0;

  background-color: var(--color-mono-lighter);
  border-top: var(--spacing-third) solid var(--color-primary-base);
  border-bottom: var(--spacing-third) solid var(--color-primary-base);

  box-shadow: var(--container-box-shadow-base);

  p {
    @include between-font-props(--type-font-size-h6);
    max-width: breakpoint(max-width-pad);
    margin: 0 auto;

    font-style: italic;
    font-weight: var(--type-font-weight-semibold);
    line-height: var(--type-line-height-small);
  }

  @include larger-than(md) {
    --bq-width: 45%;

    margin: var(--spacing-base) 0 var(--spacing-base) var(--spacing-double);
    float: right;
  }

  @include larger-than(max-width) { margin-right: calc(var(--spacing-quad) * -1); }
}

.twitter-tweet {
  margin: var(--spacing-base) auto var(--spacing-double) !important;
  padding: var(--spacing-base);
  
  border-width: 1px;
  border-style: solid;
  border-color: #eee #ddd #bbb;
  border-radius: var(--container-border-radius-small);
  box-shadow: var(--container-box-shadow-light);
}
