blockquote:not(.twitter-tweet) {
  width: 100%;
  padding: spacing() $l-d-side-padding;
  margin-bottom: spacing();

  background-color: color(mono, light);
  border-top: spacing(half) solid color(secondary, dark);
  border-bottom: spacing(half) solid color(secondary, dark);

  p {
    @include responsive-font-sizes(type(font-size, h4));
    max-width: breakpoint(max-width-pad);
    margin: 0 auto;

    font-style: italic;
  }

  @include larger-than(md) {
    width: 45%;
    margin: spacing() 0 spacing() spacing(double);
    float: right;
  }
}

blockquote.twitter-tweet {
  margin: spacing() spacing(third);
  padding: spacing();
  
  border-width: 1px;
  border-style: solid;
  border-color: #eee #ddd #bbb;
  border-radius: container(border-radius, small);
  box-shadow: container(box-shadow, light);
}
