// Get all the type elements whose size is being set...
$type-elements: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'a', 'ul', 'ol', 'small', 'tiny';

// ...and loop through them to establish their size and other base styles!
@each $element in $type-elements {

  #{$element} {
    --el-font-size: calc(var(--type-font-size-#{$element}) * 0.85);

    margin: var(--type-margin-#{$element});
    
    font-size: var(--el-font-size);
    line-height: var(--type-line-height-#{$element});

    @include larger-than(md) { --el-font-size: var(--type-font-size-#{$element}); }
  }
}



// Set the font families for base text and the headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--type-font-family-header);
  font-weight: var(--type-font-weight-bold);
}

a {
  --anchor-color: var(--color-action-base);
  
  color: var(--anchor-color);
  text-decoration: none;

  @include hovers() { --anchor-color: var(--color-action-light); }
}


body {
  --font-weight: var(--type-font-weight-base);

  font-family: var(--type-font-family-base);
  font-weight: var(--font-weight);
  color: var(--color-mono-darkest);
}

strong { font-weight: var(--type-font-weight-bold); }
