
$headers: h1, h2, h3, h4, h5, h6;

// Get all the type elements whose size is being set...
$type-elements: map-get($typography-map, 'font-size');

// ...and loop through them to establish their size and other base styles!
// Also creates the utility classes for giving other elements header styling (minus the margin)
@each $element, $val in $type-elements {

  #{$element},
  .h-type-#{$element} {
    @include between-font-sizes($val);

    line-height: type(line-height, #{$element});
  }

  @each $header in $headers {
    @if ($element == $header) {
      #{$element},
      .h-type-#{$element} {
        font-family: type(font-family, header);
        font-weight: type(font-weight, bold);
      }
    }
  }

  #{$element} { margin: type(margin, #{$element}); }
}

a {
  color: color(action);
  text-decoration: none;

  @include hovers() { color: color(action, dark); }
}

ul,
ol {
  margin-bottom: spacing(double);

  li { margin-bottom: spacing(half); }
}

body {
  font-family: type(font-family);
  font-weight: type(font-weight, light);
}

strong { font-weight: type(font-weight, bold); }
