// Styles for visualizing the different container styles

// Wrapper around an entire group of container examples
.sg-container { margin-bottom: spacing(double); }

.sg-container__examples { display: flex; }

// Each container example's common styles
.sg-container__example {
  width: 7rem;
  height: 7rem;
  margin-right: spacing(double);

  background-color: color(mono, light);
}

// Generating the specific styles for each container example
@each $category, $styles in $containers-map {

  @each $label, $value in $styles {

    .sg-container__example--#{$category}--#{$label} {
      #{$category}: $value;
      position: relative;

      &:after {
        content: quote(inspect($label));
        position: absolute;
        bottom: spacing();
        right: spacing();

        font-style: italic;
        font-size: type(font-size, small);
      }
    }
  }
}