// Styles for showing the different spacing measures

.sg-spacing { margin-bottom: spacing(double); }

// The wrapper around each spacing title and measure
.sg-spacingUnit {
  display: flex;
  margin-top: spacing();
  align-items: center;
}

// Title of each measure
.sg-spacingUnit__title {
  padding-left: spacing();

  text-transform: capitalize;
}

// The measure of each spacing length
.sg-spacingUnit__measure {
  height: spacing(double);
  margin-right: spacing(quad);

  background-color: color(primary);
}

@each $label, $length in $spacing-map {

  $length-label: '#{$length}';

  .sg-spacingUnit__measure--#{$label} {
    position: relative;
    width: $length;

    &::after {
      content: inspect($length-label);

      position: absolute;
      top: spacing(half);
      left: calc(100% + #{spacing(third)});
      width: 7rem;

      font-size: type(font-size, small);
      font-style: italic;
    }
  }
}
