
.sg-tabs__tabs {
  @include contra-color(color(primary));
  display: flex;
  padding: 0;
  margin: spacing() 0 0;

  list-style-type: none;

  cursor: pointer;
}

.sg-tabs__tabItem {
  padding: spacing();
  margin: 0;
  flex: 1 1 auto;

  color: color(mono, light);
  text-align: center;

  &.sg-tabs__tabItem--active {
    font-weight: type(font-weight, bold);
    color: color(mono, blank);

    border-bottom: spacing(third) solid color(primary, light);
  }
}

.sg-tabs__content { max-width: 100%; }

.sg-tabs__contentPanel {
  width: 100%;
  padding: spacing();

  &:not(.sg-tabs__contentPanel--active) { display: none; }
}

.sg-tabs__iframe { width: 100%; }
