
.sg-tabs__tabs {
  @include contra-color(color(primary));
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: spacing() 0 0;
  cursor: pointer;
}

.sg-tabs__tabItem {
  flex: 1 1 auto;
  padding: spacing();

  text-align: center;
  color: color(mono, light);

  &.sg-tabs__tabItem--active {
    color: color(mono, blank);
    font-weight: type(font-weight, bold);

    border-bottom: spacing(third) solid color(primary, light);
  }
}

.sg-tabs__content {
  max-width: 100%;
}

.sg-tabs__contentPanel {
  width: 100%;
  padding: spacing();

  &:not(.sg-tabs__contentPanel--active) { display: none; }
}

.sg-tabs__iframe {
  width: 100%;
}