
.sg-table {
  width: 100%;
  padding: 0;
  margin: 0;

  border: 1px solid color(mono);
  border-collapse: collapse;
  table-layout: fixed;
}

.sg-table caption {
  margin: spacing(half) 0;

  font-size: type(font-size, h4);
}

.sg-table tr {
  padding: spacing(third);

  background: color(mono, light);
  border: 1px solid color(mono, dark);
}

.sg-table th,
.sg-table td {
  padding: spacing();

  text-align: left;
}

.sg-table th {
  font-size: type(font-size, small);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@include smaller-than(md) {
  .sg-table { border: 0; }

  .sg-table caption { font-size: type(font-size, h5); }

  .sg-table thead {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;

    clip: rect(0 0 0 0);

    border: 0;
  }

  .sg-table tr {
    display: block;
    margin-bottom: spacing(half);

    border-bottom: 2px solid color(mono, dark);
  }

  .sg-table td {
    display: flex;
    justify-content: space-between;

    font-size: type(font-size, small);
    text-align: right;

    border-bottom: 1px solid color(mono, dark);
  }

  .sg-table td::before {
    content: attr(data-label);

    float: left;
    padding-right: spacing();

    font-weight: bold;
    text-transform: uppercase;
  }

  .sg-table td:last-child { border-bottom: 0; }
}
