
.ma-c-blogItem {
  @include svg-background();
  display: flex;
  height: 100%;
  padding: spacing();
  flex: 1 1 auto;
  flex-direction: column;

  color: color(mono, light);

  background-position: center;
  background-size: cover;
  border-top: spacing(quart) solid color(secondary, light);
  border-right: spacing(quart) solid color(secondary, light);
  border-bottom: spacing(quart) solid color(secondary, dark);
  border-left: spacing(quart) solid color(secondary, dark);
  box-shadow: inset 0 0 0 1000px rgba(color(mono, darkest), 0.825);
  transition: 0.5s;

  @include hovers() { color: color(mono, blank); }

  .ma-c-blogItem__container:nth-of-type(even) & {
    color: color(mono, dark);

    border-top: spacing(quart) solid color(secondary, dark);
    border-right: spacing(quart) solid color(secondary, dark);
    border-bottom: spacing(quart) solid color(secondary, light);
    border-left: spacing(quart) solid color(secondary, light);
    box-shadow: inset 0 0 0 1000px rgba(color(mono, blank), 0.875);

    @include hovers() { color: color(mono, darkest); }
  }
}

.ma-c-blogItem__title {
  @include between-font-sizes(type(font-size, h5));
  margin-bottom: spacing(half);

  font-family: type(font-family, header);
  font-weight: type(font-weight, bold);
}

.ma-c-blogItem__date {
  @include between-font-sizes(type(font-size, tiny));
  margin-bottom: spacing(double);

  font-style: italic;
  font-weight: type(font-weight, light);
}

.ma-c-blogItem__descr {
  margin: auto 0 0;

  p {
    @include between-font-sizes(type(font-size, small));
    margin: 0;
  }
}
