.ma-l-default__content {

  img {
    display: block;
    margin: auto;
    width: 100%;
  }

  iframe,
  figcaption { margin-bottom: var(--spacing-base); }

  figcaption {
    @include between-font-props(--type-font-size-tiny);

    a { @include between-font-props(--type-font-size-tiny); }
  }

  code {
    padding: 0 var(--spacing-third);

    background-color: var(--color-mono-light);
  }
}

.ma-c-blogContent__imageGallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  margin-right: calc(var(--spacing-half) * -1);
  margin-left: calc(var(--spacing-half) * -1);

  img {
    margin: var(--spacing-half);
    max-width: rem(99999px);
    flex: 1 1 rem(300px);
  }
}

.ma-c-blogContent__figure {
  @include clearfix();
  margin: 0 0 var(--spacing-double);
}

.ma-c-blogContent__figure--left,
.ma-c-blogContent__figure--right {
  @include larger-than(sm) { width: 50%; }
  @include larger-than(md) { width: 33%; }
  @include larger-than(lg) { width: 25%; }
}

.ma-c-blogContent__figure--left {
  @include larger-than(sm) {
    float: left;
    margin: var(--spacing-base) var(--spacing-triple) var(--spacing-base) 0;
  }
}

.ma-c-blogContent__figure--right {
  @include larger-than(sm) {
    float: right;
    margin: var(--spacing-base) 0 var(--spacing-triple) var(--spacing-base);
  }
}

.ma-c-blogContent__figureCaption {
  @include between-font-props(--type-font-size-small);
  margin-top: var(--spacing-third);

  font-style: italic;
}


.ma-c-blogContent__video {
  @include clearfix();
  margin: var(--spacing-base) 0;
}

.ma-c-blogContent__videoWrapper {

  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  @include larger-than(md) {
    width: 75%;
    margin: 0 auto;
  }

  embed,
  object,
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// Video that isn't embedded
video {
  width: 100%;
  height: auto;
}
