.ma-c-footer {
  display: flex;
  max-width: breakpoint(lg);
  padding: var(--spacing-base);
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.ma-c-footer__wisdom {
  flex: 1 1 100%;
  max-width: breakpoint(sm);
  margin: var(--spacing-base) 0;
}

.ma-c-footer__social {
  padding: var(--spacing-base) 0;
  margin-right: var(--spacing-quad);
  flex: 0 1 breakpoint(sm);
}
