.ma-c-footer {
  display: flex;
  max-width: breakpoint(lg);
  padding: var(--spacing-base);
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.ma-c-footer__wisdom {
  flex: 1 1 100%;
  max-width: breakpoint(sm);
  margin: var(--spacing-base) var(--spacing-base) var(--spacing-base) 0;
}

.ma-c-footer__schemes { flex: 0 1 auto; } 

.ma-c-footer__scheme {
  display: inline-block;
  padding: var(--spacing-half);

  border-radius: var(--container-border-radius-full);

  cursor: pointer;

  &:not(:first-child) { margin-left: var(--spacing-quart); }
}

.ma-c-footer__scheme--active {
  background-color: var(--color-secondary-lighter);
}

.ma-c-footer__social {
  padding: var(--spacing-base) 0;
  margin-right: var(--spacing-quad);
  flex: 0 1 breakpoint(sm);
}
