
.ma-c-header {
  padding: spacing() $l-d-side-padding;

  background-color: color(primary, lighter);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(color(primary, lighter), 0.9);
}

.ma-c-header__container {
  max-width: breakpoint(lg);
  margin: 0 auto;

  @include larger-than(max-width) { max-width: breakpoint(max-width-pad); }
}

.ma-c-header__title,
.ma-c-header__tagline {
  display: block;

  font-family: type(font-family, header);
}

.ma-c-header__title { margin-top: 0; }

.ma-c-header__tagline {
  padding-top: spacing(half);
  padding-top: 3vmin;

  font-family: type(font-family);
}
