
.ma-c-header {
  padding: spacing() $l-d-sidePadding;

  background-size: cover;
  background-position: center;
  background-image: url('/img/nav.jpg');
  box-shadow: inset 0 0 0 1000px rgba(color(primary, lighter), 0.9);
}

.ma-c-header__title,
.ma-c-header__tagline {
  display: block;

  font-family: type(font-family, header);
}

.ma-c-header__title { margin-top: 0; }

.ma-c-header__tagline {
  padding-top: spacing(half);
  padding-top: 3vmin;

  font-style: italic;
  font-family: type(font-family);
  color: color(secondary, darker);
}
