
.ma-c-header {
  text-align: center;

  background-color: color(primary, lighter);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(color(primary, lighter), 0.9);
}

.ma-c-header__container {
  max-width: breakpoint(lg);
  padding: spacing(double) spacing();
  margin: 0 auto;
}

.ma-c-header__title,
.ma-c-header__tagline {
  display: block;

  font-family: type(font-family, header);
}

.ma-c-header__title { margin-top: 0; }

.ma-c-header__tagline {
  padding-top: spacing(half);
  padding-top: 3vmin;

  font-family: type(font-family);
  font-weight: type(font-weight);
}

.ma-c-header__date {
  @include between-font-sizes(type(font-size, small));

  font-style: italic;
}
