
.ma-c-portfolioItem {
  position: relative;
  display: block;
  width: 100%;
  height: spacing(quad) * 5.5;
  overflow: hidden;

  &:hover .ma-c-portfolioItem__img,
  &:hover .ma-c-portfolioItem__title,
  &:hover .ma-c-portfolioItem__descr {
    position: absolute;

    transition: 0.5s;
  }

  &:hover .ma-c-portfolioItem__img {  top: -4em; }

  &:hover .ma-c-portfolioItem__title { bottom: -40%; }

  &:hover .ma-c-portfolioItem__descr {
    top: 0;
    bottom: 0;
  }
}

.ma-c-portfolioItem__img {
  @include clearfix();
  position: absolute;
  top: -10%;
  min-width: 100%;
  min-height: 130%;
  z-index: 0;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  box-shadow: inset 0 0 0 1000px rgba(color(primary, darker), 0.25);
  transition: 0.5s;
}

.ma-c-portfolioItem__title,
.ma-c-portfolioItem__descr {
  overflow: hidden;

  background-color: rgba(color(primary, dark), 0.8);
  transition: 0.5s;
}

.ma-c-portfolioItem__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.ma-c-portfolioItem__descr {
  position: absolute;
  top: -100%;
  bottom: 100%;
  width: 100%;
}
