
// Each resume item for my past jobs

.ma-c-resume__item {
  position: relative;
  padding-bottom: var(--spacing-base);

  @include larger-than(md) { padding-bottom: var(--spacing-double); }
}

.ma-c-resume__header {
  display: flex;
  margin-bottom: var(--spacing-base);
  align-items: center;
}

.ma-c-resume__icon,
.ma-c-resume__title,
.ma-c-resume__stack { color: var(--color-primary-darker); }

.ma-c-resume__title,
.ma-c-resume__stack { margin-top: var(--spacing-quart); }

.ma-c-resume__descr {
  padding: var(--spacing-base);
  margin: 0;

  border-bottom: 2px solid var(--color-primary-dark);
}

.ma-c-resume__icon {
  @include between-font-props(--type-font-size-h1);
  margin-right: var(--spacing-double);

  line-height: 0;
  color: var(--color-action-base);

  cursor: pointer;
}

.ma-c-resume__meta {
  color: var(--color-secondary-dark);
  font-weight: var(--type-line-height-light);
}

[aria-hidden='true'],
[data-a11y-toggle]:not([aria-controls]) {
  display: none;
}
