
// Each resume item for my past jobs

.ma-c-resume__item {
  position: relative;
  padding-bottom: var(--spacing-triple);
  padding-left: var(--spacing-double);

  &::after {
    content: '';

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--spacing-third);

    background: linear-gradient(to bottom, var(--color-secondary-light) 0%, var(--color-primary-light) 10%, var(--color-secondary-dark) 25%, var(--color-secondary-light) 100%);
  }

  &:first-of-type::after { border-top-left-radius: 75%; }
  &:last-of-type::after { border-bottom-left-radius: 75%; }
}

.ma-c-resume__header {
  display: flex;
  margin-bottom: var(--spacing-base);
  align-items: center;
}

.ma-c-resume__icon,
.ma-c-resume__title {
  color: var(--color-primary-dark);
}

.ma-c-resume__icon {
  @include between-font-props(--type-font-size-h1);
  margin-right: var(--spacing-double);

  line-height: 0;
}

.ma-c-resume__meta { color: var(--color-secondary-dark); }
