
.ma-c-wisdom {
  @include between-font-props(--type-font-size-p);
  font-style: italic;
  color: var(--color-secondary-lightest);

  &::first-line { @include between-font-props(--type-font-size-p); }

  &::first-letter {
    @include between-font-props(--type-font-size-h5);
    text-transform: uppercase;
  }
}
