
.ma-c-wisdom {
  @include between-font-sizes(type(font-size, p));
  font-style: italic;
  color: color(secondary, lighter);

  &::first-line { @include between-font-sizes(type(font-size, p)); }

  &::first-letter {
    @include between-font-sizes(type(font-size, h5));
    text-transform: uppercase;
  }
}
