// For creating specific values between two breakpoints using calc and viewpoint units
@function between($to, $from, $to-width, $from-width) {
  $slope: ($to - $from) / ($to-width - $from-width);
  $base: $from - $slope * $from-width;

  @return calc(#{$base} + #{100vw * $slope});
}

// For applying specific CSS styles that scale between viewpoints
@mixin between($property, $to, $from, $to-width: breakpoint(sm), $from-width: breakpoint(lg)) {
  #{$property}: $to;

  @media (min-width: $to-width) {
    #{$property}: between($to, $from, $to-width, $from-width);
  }

  @media (min-width: $from-width) {
    #{$property}: $from;
  }
}

// Specific mixin for responsive font sizes with "between" mixin
@mixin between-font-sizes($base-font-size) {

  $small-font-size: $base-font-size * 1;
  $large-font-size: $base-font-size * 1.2;

  @include between('font-size', $small-font-size, $large-font-size);
}