
@each $palette, $colors in $color-map {
  @each $label, $value in $colors {

    @if ($label == 'base') {
      .h-cl-txt--#{$palette} { color: $value; }
      .h-cl-txtHvr--#{$palette}:hover { color: $value; }
      .h-cl-bg--#{$palette} { background-color: $value; }
    } @else {
      .h-cl-txt--#{$palette}-#{$label} { color: $value; }
      .h-cl-txtHvr--#{$palette}-#{$label}:hover { color: $value; }
      .h-cl-bg--#{$palette}-#{$label} { background-color: $value; }
    }
  }
}