
@each $palette, $colors in $color-map {
  @each $label, $value in $colors {

    @if ($label == 'base') {
      .h-color-text--#{$palette} { color: $value; }
      .h-color-textHover--#{$palette}:hover { color: $value; }

      // .h-color-bg--#{$palette} { background-color: $value; }
      // .h-color-border--#{$palette} { border-color: $value; }
    } @else {
      .h-color-text--#{$palette}-#{$label} { color: $value; }
      .h-color-textHover--#{$palette}-#{$label}:hover { color: $value; }

      // .h-color-bg--#{$palette}-#{$label} { background-color: $value; }
      // .h-color-border--#{$palette}-#{$label} { border-color: $value; }
    }
  }
}