$nav-background: '/img/nav.jpg';
$menu-opacity: 0.85;
$nav-height: rem(105px);

header {
  @include svg_background();
  @include transition(0.5s);
  margin-bottom: spacing(half);
  // min-height: 8.5em;
  position: relative;

  box-shadow: inset 0 0 0 1000px rgba(color(dark), $menu-opacity);
  // background-size: cover !important;
  background-position: center !important;
  color: color(blank);
  

  a {
    color: color(blank);

    &:hover,
    &:focus { color: $g-base-background-color; }
  }

  // @include breakpoint($tablet-screen) { min-height: 16em; }
}

.header__container {
  @include syn(xs, 12, 0, (pad-1 border-b align-l));
  @include syn(sm, 0,  0, (pad-sides-2));
  @include syn(md, 10, 1, (pad-2 align-c));
  @include syn(lg, 8,  2, (''));

  @include clearfix();
  position: relative;
}

.header__title {

  margin: spacing(fourth) 0;

  text-align: center;
}

.header__tagline {
  @include syn(xs, 0, 0, (hide marg-t-0 marg-b-2));
  @include syn(md, 0, 0, (block));

  line-height: 1.4em;
}

.header__menu {
  @include clearfix();
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
  background-color: color(light);

  @include breakpoint($tablet-screen) {
    background-color: rgba(color(light), $menu-opacity);
  }
}

.header__menu-item {
  @include syn(xs, 12, 0, (pad-1 inline-b border-b align-c));
  @include clearfix();

  border-top: 1px solid color(light);
  border-bottom: 1px solid color(light);

  @include breakpoint($tablet-screen) {
    @include transition(0.25s);
    width: percentage(1/5);
    float: left;
    border: 0;
  }

  &:hover {
    @include transition(0.25s);
    background-color: rgba(color(light), $menu-opacity);
    color: color(blank);
  }
}

.header__icon {
  @include syn(xs, 0, 0, (inline float-r align-c));
  @include syn(md, 0, 0, (hide));

  @include transition(0.5s);
  @include transform(rotate(180deg));
  @include transform-origin(center);
  @include padding(1.75rem spacing(fourth) null spacing(fourth));
  @include position(absolute, 0 0 0 null);

  max-width: 20%;

  font-size: calc(#{$nav-height} - (#{spacing()} + #{spacing(half)}));
  cursor: pointer;

  .hide-menu & {
    @include transform(rotate(0deg));
    @include transition(0.5s);
  }
}

.hide-menu {

  .header__menu {
    @include syn(xs, 0, 0, (hide));
    @include syn(md, 0, 0, (block));
  }
}

.flexbox {
  header {
    @include display(flex);
    @include flex-direction(column);
  }

  // The top menu
  .header__subcontainer { @include flex(1); }

  // Below the menu, with the page title and subheading
  .header__container { @include flex(1); }
}
