.sliding-panel__container {  
  $sliding-panel-width: rem(250px);

  @include position(fixed, 0 auto 0 0);
  @include size($sliding-panel-width 100%);
  @include transform(translateX(- $sliding-panel-width));
  @include transition(all 0.25s linear);
  box-sizing: border-box;
  padding: spacing(half);

  -webkit-overflow-scrolling: touch;
  z-index: 999999;

  background: color(blank);

  &.sliding-panel__container--is-visible {
    @include transform(translateX(0));
  }
}

// Wrapper to allow vertical scrolling
.sliding-panel__wrapper {
  height: 100%;
  overflow-y: auto;
}

// Container for the nav img and title/descr
.sliding-panel__intro {
  text-align: center;
}

// Title in the nav
.sliding-panel__intro-name {
  margin-top: spacing(fourth);
}

// The profile image in the nav
.sliding-panel__intro-img {
  box-sizing: border-box;
  border-radius: 100%;
  
  border: $g-secondary-border-width solid color(dark);
  background-color: $g-secondary-background-color;
}

.sliding-panel__intro-descr {
  margin-bottom: spacing(fourth);
}

// The container for latest post links
.sliding-panel__latest-post {
  margin-bottom: spacing(fourth);
  padding-bottom: spacing(fourth);

  &:not(:last-of-type) {
    border-bottom: 1px solid color(medium);
  }
}

// Title for most recent posts
.sliding-panel__latest-title {
  @include margin(spacing(half) null 0 null);
}

// The date of the latest posts
.sliding-panel__latest-date {
  display: block;
  margin-bottom: em(-10px);

  font-weight: 700;
  color: color(medium);
}

.sliding-panel__menu {
  list-style-type: none;
  padding: 0;
}

.sliding-panel__menu-item {
  @include transition($g-base-duration);
  display: block;
  width: 100%;
  padding: spacing(fourth) spacing();
  box-sizing: border-box;

  text-align: center;
  font-family: $g-heading-font-family;

  border-bottom: 1px solid color(medium);

  &:hover {
    @include transition($g-base-duration);
    background-color: color(light);
  }
}


.sliding-panel__fade-screen {
  @include position(fixed, 0 0 0 0);
  @include transition;
  background: color(dark);
  opacity: 0;
  visibility: hidden;
  z-index: 9999;

  &.sliding-panel__container--is-visible {
    @include transition;
    opacity: 0.5;
    visibility: visible;
  }
}

.sliding-panel__close { cursor: pointer; }

.sliding-panel__button {
  @include position(absolute, 0.7em null null calc(100% + 0.7em));
  @include size(1em);
  opacity: 0.7;
  padding: 0.5em;

  line-height: 0;
  font-size: rem(20px);

  border-radius: 100%;
  background-color: color(action);
}

// Based on code by Diego Eis
