
<a class="blog-list__item" href="{% if post.external_url %}{{ post.external_url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" {% if post.external_url %}target="_blank"{% endif %}>
  <article class="blog-list__container"
    {% if post.featured-img %}data-lazyload data-original="{{ site.baseurl }}{{ post.featured-img }}" style="background-image: url('{{ '/img/pages/lazyload-placeholder.jpg' | prepend: site.baseurl }}');"{% endif %}
  >


    <div class="blog-list__wrapper">
      <h4 class="blog-list__title">
        {{ post.title }}
      </h4>

      <p class="blog-list__date">
        {{ post.date | date: "%b %-d, %Y" }}
      </p>
      
      <div class="blog-list__excerpt"> 
        {% if post.subheading %}
          {{ post.subheading }}
        {% else %}
          {{ post.excerpt }}
        {% endif %}
      </div>
    </div>
  </article>
</a>