
<h3>
  Color Palettes
</h3>

<p>
  The colors giving this site vibrant, visual life.
</p>

{% for color in site.data.colors %}

  <h4 class="ma-t-subheader">
    {{ color.name | capitalize }} colors
  </h4>

  <p>
    {{ color.description }}
  </p>

  <div class="sg-colorSwatches">
    {% for shade in color.shades %}

      <div class="sg-colorSwatches__swatch sg-colorSwatches__swatch--{% if shade == 'base' %}base{% else %}shade{% endif %} sg-colorSwatches__swatch--{{ color.name }}-{{ shade }}">

        <span class="sg-colorSwatches__title sg-colorSwatches__title--{% if shade == 'base' %}base{% else %}shade{% endif %}">
          {{ shade }}
        </span>
      </div>

    {% endfor %}
  </div>
{% endfor %}