<footer class="ma-c-footer" role="contentinfo">

  <div class="ma-c-footer__social">
    <div class="ma-cp-socialIcons">
      {% for social in site.data.social %}
        {% include components/social_icon.html
          url = social.url
          icon = social.icon
        %}
      {% endfor %}
    </div>
  </div>

  <span class="ma-c-footer__copyright">
    Ⓒ Max Antonucci, 2017
  </span>

  <div class="ma-c-footer__wisdom">
    {% include components/wisdom.html %}
  </div>

  {% include footer_links.html %}
</footer>