<footer class="ma-c-footer" role="contentinfo">

  <div class="ma-c-footer__social">
    <div class="ma-cp-socialIcons">
      {% for social in site.data.social %}
        {% include components/social_icon.html
          url = social.url
          icon = social.icon
          alt_text = social.text
        %}
      {% endfor %}
    </div>
  </div>

  <span class="ma-c-footer__copyright">
    Ⓒ Max Antonucci, 2017
  </span>

  <div class="ma-c-footer__wisdom">
    {% include components/wisdom.html %}
  </div>

  <div class="ma-c-footer__schemes">
    {% for poke in site.data.pokemon %}
      <span class="js-update-css-scheme ma-c-footer__scheme" js-scheme="{{ poke }}">
        <img src="/img/pokes/{{ poke }}.png" alt="{{ poke | capitalize }} color scheme">
      </span>
    {% endfor %}
  </div>

  {% include footer_links.html %}
</footer>