<header class="hide-menu">

  <div class="header-container">
    <a class="site-title" href="{{ site.baseurl }}/">
      <h4>
        {{ site.title }}
      </h4>
    </a>

    <i class="header-icon icon-menu" href="javascript:void(0)"></i>

    <ul class="site-menu">
      {% for menu in site.data.menu %}
        <a class="site-menu-item" href="{{ menu.link | prepend: site.baseurl }}">
          <li>
            {{ menu.name }}
          </li>
        </a>
      {% endfor %}
    </ul>
  </div>

</header>
