<header class="hide-menu">

  <div class="header-container">
    <a href="{{ site.baseurl }}/">
      <h3 class="site-title">
        {{ site.title }}
      </h3>
    </a>

    <h6 class="site-tagline">{{ site.description }}</h6>

    <i class="header-icon icon-menu" href="javascript:void(0)"></i>
  </div>
  <div class="header-subcontainer">

    <ul class="site-menu">
      {% for menu in site.data.menu %}
        <a class="site-menu-item" href="{{ menu.link | prepend: site.baseurl }}">
          <li>
            {{ menu.name }}
          </li>
        </a>
      {% endfor %}
    </ul>
  </div>

</header>
