<header {% if page.featured-img %} style="background: linear-gradient(rgba(49,57,98,0.85), rgba(49,57,98,0.85)),url('{{ page.featured-img }}');" {% endif %}>

  <div class="top-bar__container">
    <h5 class="top-bar__name">
      <a href="/">
        Max Antonucci
      </a>
    </h5>

    <div class="top-bar__social">
      {% for social in site.data.social %}
        <a class="top-bar__social-icon" href="{{ social.url }}" target="_blank">
          <i class="icon-{{ social.icon }}"></i>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="header__container">
    <h3 class="header__title">
      {{ page.title }}
    </h3>

    <h6 class="header__tagline">
      {% if page.subheading %}
        {{ page.subheading }}
      {% else %}
        {{ page.excerpt }}
      {% endif %}
    </h6>

    {% if page.date %}
      <p class="l-post__meta">
        <time itemprop="datePublished">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
      </p>
    {% endif %}
  </div>

</header>
