<input id="headNav-toggle" type="checkbox" class="ma-n-headNav__checkbox">
<nav class="ma-n-headNav">
  <label for="headNav-toggle" class="ma-n-headNav__toggle">
    <i class="icon-menu"></i>
  </label>
  
  <a href="/" class="ma-n-headNav__home">
    <div class="ma-n-headNav__title">
      {{ site.title }}
    </div>

    <div class="ma-n-headNav__tagline">
      {{ site.description }}
    </div>
  </a>

  <div class="ma-n-headNav__links">
    {% for menu in site.data.menu %}
      <a href="{{ menu.link }}" class="ma-n-headNav__link {% if menu.name == page.title or page.layout == 'post' and menu.name == 'Blog' %}ma-n-headNav__link--active{% endif %}">
        <i class="ma-n-headNav__icon icon-menu-{{ menu.icon }}"></i>
        {{ menu.name }}
      </a>
    {% endfor %}
  </div>
</nav>
