:root {
  --color-primary-base: #737b9c; 
  --color-secondary-base: #4a4a6a; 
  --color-action-base: #39b4f6; 
  --color-mono-base: #7373a5; 
  --color-primary-lightest: #dbeaff; 
  --color-primary-lighter: #becbff; 
  --color-primary-light: #9ba6d3; 
  --color-primary-dark: #4b5065; 
  --color-primary-darker: #282b37; 
  --color-primary-darkest: #0c0c10; 
  --color-secondary-lightest: #8d8dc9; 
  --color-secondary-lighter: #7a7aaf; 
  --color-secondary-light: #64648f; 
  --color-secondary-dark: #303045; 
  --color-secondary-darker: #1a1a25; 
  --color-secondary-darkest: #07070b; 
  --color-action-lightest: #6cffff; 
  --color-action-lighter: #5effff; 
  --color-action-light: #4df3ff; 
  --color-action-dark: #2575a0; 
  --color-action-darker: #143f56; 
  --color-action-darkest: #061219; 
  --color-mono-blank: #fff; 
  --color-mono-lighter: #bebeff; 
  --color-mono-light: #9b9bdf; 
  --color-mono-dark: #4b4b6b; 
  --color-mono-darker: #28283a; 
  --color-mono-darkest: #393941; 
  --spacing-quad: 4rem; 
  --spacing-triple: 3rem; 
  --spacing-double: 2rem; 
  --spacing-base: 1rem; 
  --spacing-half: 0.5rem; 
  --spacing-third: 0.33rem; 
  --spacing-quart: 0.25rem; 
  --type-font-family-base: Lucida Grande, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; 
  --type-font-family-header: Lucida Fax, Helvetica, Futura, Arial, sans-serif; 
  --type-font-family-mono: Lucida Console, Andale Mono, sans serif; 
  --type-font-size-h1: 4.826809000000002rem; 
  --type-font-size-h2: 3.712930000000001rem; 
  --type-font-size-h3: 2.8561000000000005rem; 
  --type-font-size-h4: 2.1970000000000005rem; 
  --type-font-size-h5: 1.6900000000000002rem; 
  --type-font-size-h6: 1.3rem; 
  --type-font-size-large: 1.3rem; 
  --type-font-size-p: 1rem; 
  --type-font-size-ol: 1rem; 
  --type-font-size-ul: 1rem; 
  --type-font-size-a: 1rem; 
  --type-font-size-small: 0.7692307692307692rem; 
  --type-font-size-tiny: 0.5917159763313609rem; 
  --type-font-weight-bold: 700; 
  --type-font-weight-semibold: 600; 
  --type-font-weight-base: 300; 
  --type-font-weight-light: 100; 
  --type-line-height-h1: 1.340625; 
  --type-line-height-h2: 1.340625; 
  --type-line-height-h3: 1.340625; 
  --type-line-height-h4: 1.340625; 
  --type-line-height-h5: 1.340625; 
  --type-line-height-h6: 1.340625; 
  --type-line-height-p: 1.7428125; 
  --type-line-height-ol: 1.7428125; 
  --type-line-height-ul: 1.7428125; 
  --type-line-height-small: 1.340625; 
  --type-line-height-tiny: 1.340625; 
  --type-margin-h1: 3rem 0 1rem; 
  --type-margin-h2: 3rem 0 1rem; 
  --type-margin-h3: 3rem 0 1rem; 
  --type-margin-h4: 2rem 0 1rem; 
  --type-margin-h5: 2rem 0 1rem; 
  --type-margin-h6: 2rem 0 1rem; 
  --type-margin-p: 0 0 1rem 0; 
  --type-margin-ul: 0 0 1rem 0; 
  --type-margin-ol: 0 0 1rem 0; 
  --type-margin-small: 0 0 1rem; 
  --type-margin-tiny: 0 0 1rem; 
  --z-layer-bottomless: -9999; 
  --z-layer-base: 1; 
  --z-layer-dropdown: 3000; 
  --z-layer-overlay: 4000; 
  --z-layer-modal: 4001; 
  --container-border-radius-small: 0.5rem; 
  --container-border-radius-base: 1rem; 
  --container-border-radius-large: 2rem; 
  --container-border-radius-full: 100%; 
  --container-box-shadow-base: 0 0 0.5rem #4b4b6b; 
  --container-box-shadow-light: 0 0 0.25rem #4b4b6b; 
  --container-box-shadow-heavy: 0 0 1rem #4b4b6b;
}