:root {
  --color-primary-base: #4a9cd5;
  --color-secondary-base: #ee5a62;
  --color-action-base: #b4944a;
  --color-mono-base: #779;
  --color-primary-lightest: #8dffff;
  --color-primary-lighter: #7affff;
  --color-primary-light: #64d3ff;
  --color-primary-dark: #30658a;
  --color-primary-darker: #1a374b;
  --color-primary-darkest: #071015;
  --color-secondary-lightest: #ffabba;
  --color-secondary-lighter: #ff95a2;
  --color-secondary-light: #ff7a84;
  --color-secondary-dark: #9b3b40;
  --color-secondary-darker: #532022;
  --color-secondary-darkest: #18090a;
  --color-action-lightest: #ffff8d;
  --color-action-lighter: #fff47a;
  --color-action-light: #f3c864;
  --color-action-dark: #756030;
  --color-action-darker: #3f341a;
  --color-action-darkest: #120f07;
  --color-mono-blank: #eef;
  --color-mono-lighter: #c4c4fc;
  --color-mono-light: #a1a1cf;
  --color-mono-dark: #4d4d63;
  --color-mono-darker: #2a2a36;
  --color-mono-darkest: #002;
  --spacing-quad: 4.375rem;
  --spacing-triple: 3.28125rem;
  --spacing-double: 2.1875rem;
  --spacing-base: 1.09375rem;
  --spacing-half: 0.546875rem;
  --spacing-third: 0.3609375rem;
  --spacing-quart: 0.2734375rem;
  --type-font-family-base: Avenir Book, Calibri, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --type-font-family-header: "Raleway", Futura, Helvetica, Arial, sans-serif;
  --type-font-family-mono: Andale Mono, sans serif;
  --type-font-size-h1: 4.0614216602239495rem;
  --type-font-size-h2: 3.2637589683574006rem;
  --type-font-size-h3: 2.6227571266131475rem;
  --type-font-size-h4: 2.10764796417rem;
  --type-font-size-h5: 1.693706175rem;
  --type-font-size-h6: 1.3610624999999998rem;
  --type-font-size-large: 1.3610624999999998rem;
  --type-font-size-p: 1.09375rem;
  --type-font-size-ol: 1.09375rem;
  --type-font-size-ul: 1.09375rem;
  --type-font-size-a: 1.09375rem;
  --type-font-size-small: 0.8789376406300226rem;
  --type-font-size-tiny: 0.7063144010205903rem;
  --type-font-weight-bold: 700;
  --type-font-weight-semibold: 600;
  --type-font-weight-base: 300;
  --type-font-weight-light: 100;
  --type-line-height-h1: 1.477725;
  --type-line-height-h2: 1.477725;
  --type-line-height-h3: 1.477725;
  --type-line-height-h4: 1.477725;
  --type-line-height-h5: 1.477725;
  --type-line-height-h6: 1.477725;
  --type-line-height-p: 1.8388809899999998;
  --type-line-height-ol: 1.8388809899999998;
  --type-line-height-ul: 1.8388809899999998;
  --type-line-height-small: 1.477725;
  --type-line-height-tiny: 1.477725;
  --type-margin-h1: 3.28125rem 0 1.09375rem;
  --type-margin-h2: 3.28125rem 0 1.09375rem;
  --type-margin-h3: 3.28125rem 0 1.09375rem;
  --type-margin-h4: 2.1875rem 0 1.09375rem;
  --type-margin-h5: 2.1875rem 0 1.09375rem;
  --type-margin-h6: 2.1875rem 0 1.09375rem;
  --type-margin-p: 0 0 1.09375rem 0;
  --type-margin-ul: 0 0 1.09375rem 0;
  --type-margin-ol: 0 0 1.09375rem 0;
  --type-margin-small: 0 0 1.09375rem;
  --type-margin-tiny: 0 0 1.09375rem;
  --z-layer-bottomless: -9999;
  --z-layer-base: 1;
  --z-layer-dropdown: 3000;
  --z-layer-overlay: 4000;
  --z-layer-modal: 4001;
  --container-border-radius-small: 0.546875rem;
  --container-border-radius-base: 1.09375rem;
  --container-border-radius-large: 2.1875rem;
  --container-border-radius-full: 100%;
  --container-box-shadow-base: 0 0 0.546875rem #4d4d63;
  --container-box-shadow-light: 0 0 0.2734375rem #4d4d63;
  --container-box-shadow-heavy: 0 0 1.09375rem #4d4d63;
}