
.ma-cp-socialIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ma-cp-socialIcon {
  @include between-font-sizes(type(font-size, p));
  color: color(action, lighter);

  @include hovers() { color: color(action, light); }
}
