
.ma-cp-socialIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.ma-cp-socialIcon {
  --social-icon-color:  var(--color-action-light);

  margin-right: var(--spacing-double);

  @include between-font-props(--type-font-size-h6);
  color: var(--social-icon-color);

  @include hovers() { --social-icon-color:  var(--color-action-lighter); }
}
