---
category: content
description: |
  These are for collections of different blog posts gathered together. It uses flexbox to keep the text on the top and bottom of the element, and lazyload to conditionally load the background image. Using them one after the other makes them alternate between light and dark styles.
parameters:
  classes: "Any extra classes in addition to the container class."
  title: "Post title, sized like an h3."
  excerpt: "Post excerpt, sized like a paragraph tag. Preferrably kept around 20-25 words at most."
  url: "The URL the blog item links to."
  ext_url: "Boolean value if the link should open in a new tab."
  bg_img: "*(optional)* any extra class"
example: |
  {% include components/blog_item.html
    classes = ""
    title = 'Post Title'
    excerpt = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, nisi et dolore expedita praesentium voluptate doloremque! Eligendi quasi aspernatur esse facilis cumque, velit necessitatibus.'
    url = 'javascript:void(0)'
    bg_img = '/img/posts/newhaven-io/bg.jpg'
  %}
---

{% include components/blog_item.html
  excerpt = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, nisi et dolore expedita praesentium voluptate doloremque! Eligendi quasi aspernatur esse facilis cumque, velit necessitatibus.'
%}

{% include components/blog_item.html
  excerpt = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, nisi et dolore expedita praesentium voluptate doloremque! Eligendi quasi aspernatur esse facilis cumque, velit necessitatibus.'
%}
