---
category: content
description: Header for all pages, static ones and blog posts. The background image helps add a visual touch to each title without taking up too much extra space. If a background image isn't specified, this default image is used.
parameters:
  title: "Page title. Each page has one. No exception."
  tagline: "The tagline to explain more about the page in brief. Also all pages have one."
  bg_img: "A page-specific background image, otherwise this default's used."
example: |
  {% include components/header.html %}
---

{% include components/header.html %}
