---
category: navigation
description: These are links on the side that go to various pages. They're meant to go over a dark background and need to be paired with icons.
parameters:
  class: "Any extra classes, such as <kbd>ma-n-navLink--active</kbd>."
  link: "What the nav item links to."
  label: "What the nav item reads."
  icon: "Class for the nav item icon. Class referencing needs to start with 'icon-menu-'."
example: |
  {% include components/nav_link.html %}
---

{% include components/nav_link.html %}
