---
category: content
description: This component is meant to show off different portfolio pieces in a slightly flashy way. It's meant to give the title and image by default, which are the most important bits of info, and reveal more details with a slight animation on hover. Their height is set at 330px each, so they're best laid out with Flexbox or another flexible one-dimensional layout scheme.
parameters:
  name: "Name of the item displayed."
  link: "External link to the item in question."
  highlight: "A boolean value of whether this item is more notable than the others, and should be visually highlighted."
  description: "A longer description of the item that appears on hover."
  bg_img: "The item's image shown that also animates slightly on hover."
example: |
  {% include components/portfolio_item.html %}
---

{% include components/portfolio_item.html %}
