---
category: content
description: |
  This is an entry in my resume page that gives the basics of each job, position, or internship I've held before. It's meant to get the basic info you'd see on a LinkedIn profile, but in a format that won't obscure the style with tears of boredom.
parameters:
  title: "Official title held at company."
  icon: "Icon representing the company or role."
  company: "Name of the company."
  start: "Start time at company."
  end: "End time at company."
  description: "Your duties, responsibilities, and other assorted tasks such as feeding the ogres in the basement, that the job required."
example: |
  {% include components/resume_item.html %}
---

{% include components/resume_item.html %}
