.blog-list { margin-top: 2.5em; }

.blog-list-item {
	@include padding(5%);

	&:nth-of-type(odd) {
		background-color: color-s(color(light), light, 5);
		border-top: color(medium) 3px solid;
		border-bottom: color(medium) 3px solid;
	}
}

.blog-title {
	padding-bottom: .5em;
	margin: 0;
}

.blog-meta { font-style: italic; }

.blog-excerpt {  margin-top: 1em; }