// The header container for pages and posts
.l-post__header { @include syn(xs, 0, 0, (marg-t-1 marg-b-2 align-c)); }

// Title in both pages and posts
.l-post__title {
  @include line-height(2);

  margin: spacing(fourth) 0;
}

// The descriptor below a page title
.l-post__subheading { @include syn(xs, 0, 0, (marg-t-1 marg-b-0)); }

// When the post was published
.l-post__meta {
  @include syn(xs, 12, 0, (align-c italic inline-b marg-0 marg-b-1));
  @include syn(md, 0, 0, (marg-t-1 marg-b-2));
}

blockquote {
  @include syn(xs, 0, 0, (align-c, pad-2));
  @include syn(md, 5, 0, (float-r));

  margin: 4%;

  font-family: $g-heading-font-family;

  border-top: $g-base-border-width solid color(medium);
  border-bottom: $g-base-border-width solid color(medium);
  color: color(medium);

  p { margin: 0; }
}

.l-post__sig { @include syn(xs, 0, 0, (align-r, italic)); }

.iframe-container {
  @include syn(xs, 12, 0, (''));
  @include syn(md, 9, 0, (center-m));

  iframe { width: 100%; }
}
