$blog-item-bg: tint(color(light), 75%);
$blog-item-bg-tint: 0.91;

.blog-list {
  @include display(flex);
  @include flex-wrap(wrap);
  @include align-items(stretch);

  margin-bottom: spacing(half);
}

.blog-list__item {
  @include flex(1 1 19em);
  display: block;
  box-sizing: border-box;
  padding: spacing(fourth);



  &:nth-child(3n+2) { @include flex(3 1 22em); }

  &:first-of-type { @include flex(5 1 24em); }
}

.blog-list__title {
  margin: 0;
  z-index: 5;
}

.blog-list__date {
  margin: spacing(fourth) 0 spacing(half) 0;

  font-size: 0.83em;
  color: color(dark);
  font-style: italic;
}

.blog-list__container {
  @include transition(0.25s);
  box-sizing: border-box;
  padding: spacing(half) * 1.5;
  height: 100%;
  position: relative;

  background-size: cover;
  background-position: center;
  background-color: color(light);
  border-radius: $g-base-border-radius;
  border-bottom: $g-secondary-border-width solid color(light);

  &:hover {
    @include transition(0.25s);
    box-shadow: 0 0 $g-base-border-width color(dark);
  }
}

.blog-list__wrapper {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  height: 100%;

  &:before {
    @include position(absolute, 0 0 0 0);
    @include background(linear-gradient(rgba($blog-item-bg, $blog-item-bg-tint), rgba($blog-item-bg, $blog-item-bg-tint)));
    content: '';
    z-index: 1;
  }

  & * { z-index: 5; }
}

.blog-list__excerpt {
  color: color(dark);
  font-size: g-modular-scale(1);
}

html:not(.flexbox) {
  .blog-list__container { background-image: none !important; }
}
