.post-header {
  @include margin(1.5em null 2.5em null);

  text-align: center;
}

.post-title {
  @include line-height(2);

  margin: 0.25em 0 0.75em;
}

.post-subheading { margin: 0.25em 0; }

.post-meta {
  text-align: center;
  font-style: italic;
}



// Any universal post styles here
.post {

  img {
    display: block;
    margin: 1em auto;
  }
}

blockquote {
  margin: 4%;
  padding: 1.25em;

  font-family: $heading-font-family;
  text-align: center;

  border-top: 10px solid color(medium);
  border-bottom: 10px solid color(medium);
  color: color(medium);

  @include flexy-breakpoint($tablet-screen) {
    width: 40%;
    float: right;
  }

  p {
    margin: 0;
  }
}

.post-sig {
  text-align: right;
  font-style: italic;
}

.iframe-container {
  width: 100%;

  @include flexy-breakpoint($tablet-screen) {
    width: 75%;
    margin: 0 auto;
  }

  iframe {
    width: 100%;
  }
}
