@include keyframes(home-pic) {
	0%   { 
			margin-top: -.5em;
			margin-bottom: .5em;
		}
	
	50% { 
			margin-top: .5em;
			margin-bottom: -.5em;
		}

	100%   { 
			margin-top: -.5em;
			margin-bottom: .5em;
		}
}

@include keyframes(home-text) {
	0%   { 
			margin-top: .5em;
			margin-bottom: -.5em;
		}
	
	50% { 
			margin-top: -.5em;
			margin-bottom: .5em;
		}

	100%   { 
			margin-top: .5em;
			margin-bottom: -.5em;
		}
}



body.homepage {

	background-color: lighten(color(light), 25%);

	.page-content {
		@include flexy-row();

		.home-container {
			@include flexy-center(1em);
			width: 100%;
		}
	}
}


.home-content {
	@include flexy-row();
	@include flexy-align(middle);

	padding-top: 1em;
}

.home-content-text, .home-content-image {
	@include flexy-span(12);

	text-align: center;

	@include flexy-breakpoint($tablet-screen) {
		@include flexy-span(auto);
	}
}



.home-content-text {
	@include padding(null 2em 2em 2em);

	@include flexy-breakpoint($tablet-screen) {
		animation: home-text 3s linear infinite;
	}
}

.home-content-image {
	border-radius: 100%;
	overflow: hidden;

	max-width: em(500px);
	padding-top: 2.5em;
	margin: 0 auto;

	background-color: color(light);
	box-shadow: 0 0 1em .5em color(medium);

	@include flexy-breakpoint($tablet-screen) {
		animation: home-pic 3s linear infinite;
	}
}

.home-nav {
	@include flexy-row();
	width: 100%;

	margin-top: 2em;

	list-style-type: none;
	font-size: 1.25rem;
}

.home-nav-item {
	@include flexy-span(12, $padding: .5em);

	text-align: center;

	@include shutter-in-vertical();

	&:hover,
	&:focus,
	&:active {
		
		color: lighten(color(light), 15%);
	}

	&:before {
		background: lighten(color(light), 15%);
	}

	@include flexy-breakpoint($tablet-screen) {
		@include flexy-span(auto, $padding: 1em);

		display: inline-block;
	}
}