// Container for all portfolio items
.portfolio-list {
	@include flexy-row();
	@include flexy-align(middle);
	@include align-items(stretch);
}

// Individual portfolio items
.portfolio-item {
	@include flexy-span(1, 1);
	@include flexy-row();
	@include flexy-center(1em);
	height: auto;

	p {
		color: color(dark);
	}

	&:nth-child(even) {
		background-color: lighten(color(light), 10%);
	}

	@include flexy-breakpoint($tablet-screen) {
		@include flexy-span(1, 2, 1.5em 2em);

		@include transition(.25s);

		border-right: 0px solid color(white);
		border-left: 0px solid color(white);

		&:nth-child(even) {
			background-color: color(white);
		}

		&:nth-child(4n+1),
		&:nth-child(4n+4) {
			background-color: lighten(color(light), 10%);

			border-right: 0px solid lighten(color(light), 10%);
			border-left: 0px solid lighten(color(light), 10%);
		}

		&:hover {

			p {
				color: color(dark);
			}

			border-right: 10px solid color(action);
			border-left: 10px solid color(action);
			@include transition(.5s);
		}
	}
}