// Container for all portfolio items
.portfolio-list {
	@include flexy-row();
	@include flexy-align(middle);
	@include align-items(stretch);
}

// Individual portfolio items
.portfolio-item {
	@include flexy-span(1, 1);
	@include flexy-row();
	@include flexy-center(1em);
	height: auto;

	color: color(dark);

	&:hover,
	&:focus,
	&:active {
		color: color(dark);
	}

	&:nth-child(even) {
		background-color: color(light);
	}

	@include flexy-breakpoint($tablet-screen) {
		@include flexy-span(1, 2, 1.5em);

		&:nth-child(even) {
			background-color: color(white);
		}

		&:nth-child(4n+1),
		&:nth-child(4n+4) {
			background-color: color(light);
		}
	}
}