.Resume-item {
  @include syn(xs, 0, 0, (pad-1 marg-b-3));
  @include syn(md, 0, 0, (marg-b-4));
}

.Resume-item__title { @include clearfix(); }

.Resume-item__intro { @include syn(xs, 0, 0, (marg-b-1 align-c)); }

.Resume-item__icon {
  @include syn(xs, 12, 0, (align-c block));
  @include syn(md, 2, 0, (pad-r-1 marg-r-1 inline-b));

  font-size: spacing(oneHalf);

  color: color(medium);

  @include breakpoint($tablet-screen) {
    border-right: ($g-base-border-width / 4) solid color(light);
  }
}

.Resume-item__label {
  @include syn(xs, 12, 0, (marg-1 align-c));
  @include syn(md, 9, 0, (marg-t-0 inline-b align-l float-r));
  @include clearfix();
}

.Resume-item__time h6 {
  @include syn(xs, 0, 0, (marg-t-1 marg-b-2 align-c));
  @include syn(md, 0, 0, (marg-t-0 align-l));
}
