// The default layout for the blog

$l-d-sidebar-width: rem(280px);
$l-d-side-padding: 5%;

.ma-l-default__wrapper {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

.ma-l-default__header,
.ma-l-default__footer {
  width: 100%;
  float: left;
  flex: 0 1 auto;
}

.ma-l-default__footer {
  @include contra-color(color(secondary, lighter));

  footer {
    max-width: breakpoint(lg);
    padding: spacing();
    margin: 0 auto;
  }
}

.ma-l-default__main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;

  @include larger-than(md) {
    width: calc(100% - #{$l-d-sidebar-width});
    margin-left: $l-d-sidebar-width;
  }
}

.ma-l-default__content {
  max-width: breakpoint(lg);
  padding: spacing();
  margin-right: auto;
  margin-left: auto;
  flex: 1 1 auto;
}

.ma-l-default__sidebar {
  @include svg-background();
  position: fixed;
  top: 0;
  bottom: 0;
  left: $l-d-sidebar-width * -1;
  display: flex;
  width: $l-d-sidebar-width;
  overflow-y: scroll;
  z-index: z-index(overlay);
  flex-direction: column;
  justify-content: space-between;

  box-shadow: container(box-shadow), inset 0 0 0 1000px rgba(color(primary, darker), 0.875);
  transition: 0.5s;

  @include larger-than(md) { left: 0; }

  @include smaller-than(md) {
    .ma-l-default__wrapper--expanded & {
      left: 0;

      transition: 0.5s;
    }
  }
}

.ma-l-default__sidebarBottom { padding: spacing(); }

.ma-l-default__toggle {
  @include responsive-font-sizes(type(font-size, p));
  position: absolute;
  top: spacing(half);
  right: spacing(half);
  width: rem(32px);
  height: rem(32px);
  padding: spacing(half);
  z-index: 999;

  line-height: 0;

  transform: rotate(0deg);
  background-color: rgba(color(action), 0.8);
  border-radius: 100%;
  transition: 0.5s;

  cursor: pointer;

  @include larger-than(md) { display: none; }

  .ma-l-default__wrapper--expanded & {
    transform: rotate(180deg);

    transition: 0.5s;
  }

  @include larger-than(md) { display: none; }
}

.ma-l-default__sig {
  margin-top: spacing(double);

  font-style: italic;
  font-weight: type(font-weight, bold);
  text-align: right;
}
