// The default layout for the blog

.ma-l-default__wrapper {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

.ma-l-default__header,
.ma-l-default__footer {
  width: 100%;
  float: left;
  flex: 0 1 auto;
}

.ma-l-default__footer {
  color: var(--color-mono-blank);

  background-color: var(--color-secondary-darkest);
  box-shadow: var(--container-box-shadow-base), inset 0 0 0 1000px var(--color-secondary-darker);
}

.ma-l-default__main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-mono-blank);
}

.ma-l-default__content {
  width: 100%;
  padding: var(--spacing-double) var(--spacing-base) var(--spacing-base);
  flex: 1 1 auto;

  &:not(.ma-l-default__content--fullWidth) { max-width: breakpoint(lg); }

  &.ma-l-default__content--fullWidth { max-width: breakpoint(max-width); }

  & > *:first-child { margin-top: 0; }
}

.ma-l-default__nav { width: 100%; }

.ma-l-default__sig {
  @include between-font-props(--type-font-size-h5);
  margin-top: var(--spacing-double);

  font-style: italic;
  font-weight: var(--type-font-weight-bold);
  text-align: right;
}
