// The default layout for the blog

$l-d-sidebar-width: rem(280px);
$l-d-side-padding: 5%;

.ma-l-default__wrapper {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

.ma-l-default__header,
.ma-l-default__footer {
  width: 100%;
  float: left;
  flex: 0 1 auto;
}

.ma-l-default__footer {
  @include svg-background(color(secondary, darker), tint(color(secondary, darker), 25%));

  color: color(mono, blank);

  box-shadow: container(box-shadow), inset 0 0 0 1000px rgba(color(secondary, darker), 0.875);
}

.ma-l-default__main {
  @include svg-background(color(mono, blank), tint(color(mono, light), 65%));
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.ma-l-default__content {
  // max-width: breakpoint(lg);
  padding: spacing(double) spacing() spacing();
  flex: 1 1 auto;

  &:not(.ma-l-default__content--fullWidth) { max-width: breakpoint(lg); }
}

.ma-l-default__nav { width: 100%; }

.ma-l-default__sig {
  @include between-font-sizes(type(font-size, h5));
  margin-top: spacing(double);

  font-style: italic;
  font-weight: type(font-weight, bold);
  text-align: right;
}
