
.ma-l-portfolio__wrapper {
  display: flex;
  margin-right: spacing(half) * -1;
  margin-left: spacing(half) * -1;
  flex-wrap: wrap;
}

.ma-l-portfolio__item {
  margin: spacing(half);
  flex: 1 1 rem(325px);
}

.ma-l-portfolio__item--highlight { flex-basis: rem(400px); }
