---
layout: default
title: Resume
nav_label: Resume
---
<section>
  {% for job in site.data.jobs %}
    <article class="max-mb-double">
      <h5 class="max-color-primary-darker max-mb-none">
        {{ job.title }}
      </h5>

      <tiny class="max-font-weight-light max-italic max-color-primary-dark">
        <span class="max-font-weight-semibold">
          {{ job.company }}
        </span> from {{ job.start }} to {{ job.end }}
      </tiny>

      <div class="max-pl-half max-pl-base-sm max-pl-double-md max-mt-half">
        <p>
          <strong>Skills Used:</strong> {% for item in job.stack %}{{ item }}{% if forloop.last != true %}, {% endif %}{% endfor %}
        </p>

        <p>
          {{ job.description }}
        </p>
      </div>
    </article>
  {% endfor %}
</section>

<section>
  <h3>
    My Projects
  </h3>

  <div class="max-flex max-flex-wrap-sm max-flex-column max-flex-row-sm max-flex-justify-center max-py-half max-mb-double ">
    {% for project in site.data.projects %}
      <div class="max-flex-item max-flex-basis-6-sm max-px-half-sm max-mb-half">
        <a href="{{ project.link }}" target="_blank" rel="noopener" class="max-block max-relative max-py-quad max-bg-primary-base max-inset-shadow-light max-box-shadow-1 max-box-shadow-2-hover max-bg-img-cover max-border-a max-border-action-dark max-border-a-w-quart" style='background-image: url("/img/portfolio/{{ project.image }}")'>
          <span class="max-absolute max-abs-r-none max-abs-b-none max-abs-l-none max-bg-contrast-action-dark max-px-quart">
            {{ project.name }}
          </span>
        </a>
      </div>
    {% endfor %}
  </div>
</section>

<section>
  <h3>
    My Writing    
  </h3>

  {% for article in site.data.writing %}
    <a href="{{ article.link }}" target="_blank" rel="noopener" class="max-block max-mt-base max-mb-double max-flex max-flex-column max-flex-row-sm max-flex-align-center">
      <img src="/img/portfolio/{{ article.image }}" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit." class="max-border-radius-full max-flex-basis-2 max-flex-basis-1-lg max-maxWidth-quad">

      <h5 class="max-mt-quart max-mt-none-sm max-ml-base-sm">
        {{ article.name }}
      </h5>
    </a>
  {% endfor %}
</section>
