---
layout: wide
title: Blog
subheading: We all have thoughts in our spare time. I write mine here for safe-keeping.
---

<div class="blog-list">
  
{% for post in paginator.posts %}
  <a class="blog-list__item" href="{{ post.url | prepend: site.baseurl }}">
    <article class="blog-list__container">
      <h4 class="blog-list__title">
        {{ post.title }}
      </h4>

      <p class="blog-list__date">
        {{ post.date | date: "%b %-d, %Y" }}
      </p>
      
      <div class="blog-list__excerpt"> 
        {% if post.subheading %}
          {{ post.subheading }}
        {% else %}
          {{ post.excerpt }}
        {% endif %}
      </div>
    </article>
  </a>
{% endfor %}

</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <p class="pagination-prev">
      <a href="{{ paginator.previous_page_path }}">
        <button>
          Newer Posts
        </button>
      </a>
    </p>
  {% endif %}
  {% if paginator.next_page %}
    <p class="pagination-next">
      <a href="{{ paginator.next_page_path }}">
        <button>
          Older Posts
        </button>
      </a>
    </p>
  {% endif %}
</div>