---
layout: wide
title: Blog
subheading: We all have thoughts in our spare time. I write mine here for safe-keeping.
featured-img: /img/pages/blog.jpg
---

<div class="blog-list">
  
{% for post in paginator.posts %}
  {% include blog_item.html %}
{% endfor %}

</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <p class="pagination-prev">
      <a class="button" href="{{ paginator.previous_page_path }}">
        Newer Posts
      </a>
    </p>
  {% endif %}
  {% if paginator.next_page %}
    <p class="pagination-next">
      <a class="button" href="{{ paginator.next_page_path }}">
        Older Posts
      </a>
    </p>
  {% endif %}
</div>