---
layout: default
title: Blog
nav_label: My Blog
---

{% for post in paginator.posts %}
  {% assign content = post.content %}
  
  {% if post.external_url %}
    {% assign url = post.external_url %}
    {% assign external = "true" %}
  {% else %}
    {% assign url = post.url | prepend: site.baseurl %}
    {% assign external = "false" %}
  {% endif %}

  {% include components/article.html
    title = post.title
    link = url
    external = external
    content = content
    date = post.date
    icon = post.icon
    excerpt = post.excerpt
  %}
{% endfor %}