---
layout: default
title: Portfolio
tagline: All my past work in front-end web development and journalism that's worth sharing
---

<div class="ma-l-portfolio__wrapper">

  {% for portfolio in site.data.portfolio %}

  <a class="ma-c-portfolioItem ma-l-portfolio__item {% if portfolio.highlight %}ma-l-portfolio__item--highlight{% endif %}" href="{{ portfolio.link }}" target="_blank">
    <div class="ma-c-portfolioItem__img" data-lazyload data-original="/img/portfolio/{{ portfolio.image | prepend: site.baseurl }}" style="background-image: url('{{ '/img/pages/lazyload-placeholder.jpg' | prepend: site.baseurl }}');"></div>
    <div class="ma-c-portfolioItem__title">
      <h4>
        {{ portfolio.name }}
      </h4>
    </div>
    <div class="ma-c-portfolioItem__descr">
      <p>
        {{ portfolio.description }}
      </p>
    </div>
  </a>

  {% endfor %}

</div>
