---
layout: default
title: Portfolio
tagline: All my past work in front-end web development and journalism that's worth sharing
fullWidth: true
---

<p>
  <strong>Note:</strong> The below items only cover major projects, so they're not updated as frequently. For more recent code of mine, you'll likely do better checking my <a href="http://codepen.io/max1128/" target="_blank">CodePen</a> and <a href="https://github.com/maxx1128" target="_blank">Github</a> accounts.
</p>

<div class="ma-l-portfolio__wrapper">

  {% for portfolio in site.data.portfolio %}

    {% include components/portfolio_item.html
      name = portfolio.name
      link = portfolio.link
      highlight = portfolio.highlight
      bg_img = portfolio.image
      description = portfolio.description
    %}

  {% endfor %}

</div>
