// -- Functions Page -- //

// Note: Sass functions that are likely to be needed to set variable values are on their respective sheets in the util folder

@include keyframes(home-pic) {
  0% {
    margin-top: -0.5em;
    margin-bottom: 0.5em;
  }

  50% {
    margin-top: 0.5em;
    margin-bottom: -0.5em;
  }

  100% {
    margin-top: -0.5em;
    margin-bottom: 0.5em;
  }
}

@include keyframes(home-text) {
  0% {
    margin-top: 0.5em;
    margin-bottom: -0.5em;
  }

  50% {
    margin-top: -0.5em;
    margin-bottom: 0.5em;
  }

  100% {
    margin-top: 0.5em;
    margin-bottom: -0.5em;
  }
}
