// -- Functions Page -- //

// Note: Sass functions that are likely to be needed to set variable values are on their respective sheets in the util folder

// Can lighten or darken any color by a percentage of 10
// color-s(color(medium), dark, 1);
@function color-s($color, $shade, $degree) {
	$per: percentage($degree/10);

	@if $shade == 'light' {
		@return mix(white, $color, $per);
	} @else {
		@return mix(black, $color, $per);
	}
}



@include keyframes(home-pic) {
	0%   { 
			margin-top: -.5em;
			margin-bottom: .5em;
		}
	
	50% { 
			margin-top: .5em;
			margin-bottom: -.5em;
		}

	100%   { 
			margin-top: -.5em;
			margin-bottom: .5em;
		}
}

@include keyframes(home-text) {
	0%   { 
			margin-top: .5em;
			margin-bottom: -.5em;
		}
	
	50% { 
			margin-top: -.5em;
			margin-bottom: .5em;
		}

	100%   { 
			margin-top: .5em;
			margin-bottom: -.5em;
		}
}