// ----- Typography Variables ----- //

$g-base-font-size: 90;
$g-line-height: 2.15;

$g-base: 16 * ($g-base-font-size / 100);
$g-base-rem: ($g-base-font-size / 100);
$g-leading: round($g-base * $g-line-height);
$g-leading-rem: $g-leading / $g-base;

$g-base-font-family: 'Josefin Sans', 'lucida grande', Verdana, sans-serif;
$g-heading-font-family: 'Montserrat', 'Trebuchet MS', Arial, sans-serif;

$g-modular-scale-ratio: $minor-third;
$g-modular-scale-base: em($g-base * 1px);
$g-base-font-scale: 0; // Initial scale of the modular scale ratio
$g-scaled-font-ratio: 0.9; // % of the original font size on small screens.
$g-typography-scale: $g-scaled-font-ratio; // The scale-down ratio for font-size, line-height, and type margins


$modular-scale-base: $g-modular-scale-base;
$g-modular-size-map: (
   h1: 5,
   h2: 4,
   h3: 3,
   h4: 2,
   h5: 1,
   h6: 0,
   p: 0,
   ul: 0,
   blockquote: 1,
   code: -1,
   button: -1,
   '.button': -1,
   '.sliding-panel__menu': -1
); // Bourbon g-modular-scale function to create the structure of how fonts will be sized



// ----- Color Variables ----- //

// Porygon-Z
$colors: (
  blank: #fff,
  action: #ee5a62,
  dark: #313962,
  medium: #31739c,
  light: #8bd5ff
);


$g-base-border-color: color(light);
$g-light-border-color: tint($g-base-border-color, 77.5%);

$g-base-background-color: tint(color(light), 95%);
$g-secondary-background-color: tint(color(light), 70%); // Slightly darker background




// ----- Layout Variables ----- //

$g-base-border-radius: em(($g-base / 3));
$g-base-border-width: em(($g-base / 2));
$g-base-border: $g-base-border-width solid $g-base-border-color;
$g-secondary-border-width: $g-base-border-width / 2;

$g-base-spacing: $g-line-height * 1em; // 2.15

$spacing-map: (
  quad: $g-base-spacing * 4,
  double: $g-base-spacing * 2,
  oneHalf: $g-base-spacing * 1.5,
  
  base: $g-base-spacing,
  
  half: $g-base-spacing / 2,
  third: $g-base-spacing / 3,
  fourth: $g-base-spacing / 4
);


// Lays out the different z-index values to help keep them organized. Based off what commom elements they'd be used for.
$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  dropdown: 3000,
  overlay: 4000,
  modal: 4001
);



// ----- Grid Variables ----- //

$mobile-screen: em(320px);
$mobile-h-screen: em(480px);
$tablet-screen: em(787px);
$desktop-screen: em(1024px);
$huge-screen: em(1200px);



// ----- Animation Variables ----- //

$g-base-duration: 150ms;
$g-base-timing: ease;
