{% assign title = include.title | default: "Page title here" %}
{% assign tagline = include.tagline %}
{% assign hide_tagline = include.hide_tagline | default: "false" %}
{% assign date = include.date %}
{% assign bg_img = include.bg_img %}

<header role="banner" class="ma-c-header" {% if bg_img %}style="background-image: url('{{ bg_img }}');"{% endif %}>
  <div class="ma-c-header__container">
    <h3 class="ma-c-header__title">
      {{ title }}
    </h3>

    {% if hide_tagline == "false" %}
      <h6 class="ma-c-header__tagline">
        {{ tagline }}
      </h6>
    {% endif %}

    {% if date %}
      <tiny class="ma-c-header__date">
        Posted on {{ date | date: "%B %d, %Y" }}
      </tiny>
    {% endif %}
  </div>
</header>