{% assign title = include.title | default: "Page title here" %}
{% assign tagline = include.tagline | default: "Page tagline here" %}
{% assign date = include.date %}
{% assign bg_img = include.bg_img %}

<header role="banner" class="ma-c-header" {% if bg_img %}style="background-image: url('{{ bg_img }}');"{% endif %}>
  <div class="ma-c-header__container">
    <h1 class="ma-c-header__title">
      {{ title }}
    </h1>

    {% if tagline %}
      <h5 class="ma-c-header__tagline">
        {{ tagline }}
      </h5>
    {% endif %}

    {% if date %}
      <small class="ma-c-header__date">
        Posted on {{ date | date: "%B %d, %Y" }}
      </small>
    {% endif %}
  </div>
</header>