$checked-selector: '.ma-n-headNav__checkbox:checked + .ma-n-headNav';

.ma-n-headNav {
  padding: var(--spacing-base);
  
  color: var(--color-mono-blank);

  background-color: var(--color-primary-darker);
  box-shadow: var(--container-box-shadow-base), inset 0 0 0 1000px var(--color-primary-darker);
}

.ma-n-headNav__container {
  display: flex;
  margin: 0 auto;
  max-width: breakpoint(max-width);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include larger-than(md) { flex-direction: row; }
}

.ma-n-headNav__home {
  text-align: center;
  color: var(--color-mono-blank);

  @include hovers() { color: var(--color-mono-blank); }

  @include larger-than(md) {
    margin-right: rem(100px);

    text-align: left;
  }
}

.ma-n-headNav__checkbox { display: none; }

.ma-n-headNav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--spacing-base);

  cursor: pointer;
  transition: 0.5s;

  #{$checked-selector} & {
    transform: rotate(360deg);
    transition: 0.5s;
  }

  @include larger-than(md) { display: none; }
}

.ma-n-headNav__title {
  @include between-font-props(--type-font-size-h4);
  margin-bottom: var(--spacing-half);

  font-family: var(--type-font-family-header);
  font-weight: var(--type-font-weight-bold);
}

.ma-n-headNav__tagline {
  font-weight: var(--type-font-weight-light);
}

.ma-n-headNav__links {
  display: flex;
  margin-top: var(--spacing-base);
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  @include larger-than(md) {
    margin-top: 0;
    justify-content: flex-end;
  }

  @include smaller-than(md) {
    max-height: 0;
    margin-top: 0;
    overflow: hidden;

    transition: 0.5s;

    #{$checked-selector} & {
      margin-top: var(--spacing-base);
      max-height: 10rem;

      transition: 0.5s;
    }
  }
}

.ma-n-headNav__link {
  display: flex;
  padding: var(--spacing-half) var(--spacing-base);
  flex: 1 1 50%;
  align-items: center;
  justify-content: center;

  font-size: var(--type-font-size-h6);
  color: var(--color-action-light);

  @include hovers() { color: var(--color-action-base); }

  @include larger-than(md) { flex: 0 1 auto; }
}

.ma-n-headNav__link--active {
  border-bottom: calc(var(--spacing-quart) / 2) solid var(--color-primary-lighter);
}

.ma-n-headNav__icon { margin-right: var(--spacing-third); }
