
.ma-n-homeLogo {
  display: flex;
  padding: spacing() spacing() spacing(half);
  flex-direction: column;

  color: color(primary, lighter);
  text-align: right;

  @include hovers() { color: color(primary, lighter); }
}

.ma-n-homeLogo__title {
  @include responsive-font-sizes(type(font-size, h3));
  margin-bottom: spacing(half);

  font-family: type(font-family, header);
}

.ma-n-homeLogo__descr {
  @include responsive-font-sizes(type(font-size, h6));
  font-style: italic;
}
