
.ma-n-homeLogo {
  display: flex;
  padding: var(--spacing-base) var(--spacing-base) var(--spacing-half);
  flex-direction: column;

  color: var(--color-primary-lighter);
  text-align: right;

  @include hovers() { color: var(--color-primary-lighter); }
}

.ma-n-homeLogo__title {
  @include between-font-props(--type-font-size-h3);
  margin-bottom: var(--spacing-half);

  font-family: var(--type-font-family-header);
}

.ma-n-homeLogo__descr {
  @include between-font-props(--type-font-size-h6);
  font-style: italic;
}
