
.ma-n-navLinks { margin: spacing(double) 0; }

.ma-n-navLink {
  @include responsive-font-sizes(type(font-size, h6));
  display: flex;
  padding: spacing(half) spacing();
  align-items: center;
  justify-content: flex-end;

  color: color(action, light);

  transition: 0.25s;

  cursor: pointer;

  @include hovers() {
    font-weight: type(font-weight, bold);
    color: color(action, light);

    background-color: rgba(color(mono, blank), 0.05);
    transition: 0.25s;
  }

  &.ma-n-navLink--active {
    font-weight: type(font-weight, bold);

    background-color: rgba(color(mono, blank), 0.05);
    transition: 0.5s;
  }
}

.ma-n-navLink__icon {
  @include responsive-font-sizes(type(font-size, h5));
  margin-left: spacing(double);
  flex: 0 0 auto;
}
