---
layout: default
title: My Work
tagline: All my past work in front-end web development and journalism that's worth sharing
featured-img: /img/pages/resume.jpg
fullWidth: true
---

<h3>
  Where I've Worked
</h3>

<p>
  My work started with a blend of journalism and development work early on before focusing exclusively on development. You can see more info about each by clicking on the icon next to it.
</p>

<div class="ma-l-timeline__container">
  {% for job in site.data.work-jobs %}
    <div class="ma-l-timeline__item">
      {% include components/resume_item.html
        title = job.title
        id = forloop.index
        stack = job.stack
        icon = job.icon
        company = job.company
        start = job.start
        end = job.end
        description = job.description
      %}
    </div>
  {% endfor %}
</div>

<h3>
  Projects I've Made
</h3>

<p>
  These are larger programs I've written in my free time or as part of work. I don't make as many large projects so they're likely not as up-to-date as more recent code I've written - you can see that on my <a href="https://github.com/maxx1128" target="_blank">Github</a> and <a href="http://codepen.io/max1128/" target="_blank">CodePen</a> pages.
</p>

<div class="ma-l-projects__container">
{% for project in site.data.work-projects %}
  <div class="ma-l-projects__item">
    {% include components/portfolio_item.html
      name = project.name
      link = project.link
      description = project.description
      bg_img = project.image
    %}
  </div>
{% endfor %}
</div>


<h3>
  Articles I've Written
</h3>

<p>
  Before becoming a programmer, I majored in journalism! My writing today is limited to different blog posts, but I've saved some of my favorite journalism articles from before.
</p>

{% for writing in site.data.work-writing %}
  {% include components/writing_item.html
    name = writing.name
    link = writing.link
    bg_img = writing.image
  %}
{% endfor %}
