$dark-link: color-s(color(light), light, 1);

.footer-social-links {
	padding: 0;
	margin: 0;

	list-style-type: none;

	li {
		@include padding(.25em);

		width: 100%;

		@include wobble-skew();
	}

	i {
		padding-right: .5em;
	}
}

// Makes the links contrast against the darker footer (and header)
header, footer {
	color: white;

	a {
		color: $dark-link;
		font-weight: 700;

		&:hover,
		&:active,
		&:focus {
			color: darken($dark-link, 15%);
		}
	}
}