header {
	@include padding(1.5em null);

	@include transition(.5s);
}

.header-container {
	@include flexy-row();
	@include flexy-spacing(between);

	@include flexy-container(em(1024px));

	padding: .5em 1em;
	text-align: left;

	@include flexy-breakpoint($tablet-screen) {
		text-align: center;
	}
}

.site-title {	
	@include padding(.5em);
	@include flexy-span(6);

	@include flexy-breakpoint($tablet-screen) {
		@include flexy-span(3);
	}
}

.site-menu {
	@include flexy-row();
	@include flexy-span(12);

	@include transition(.25s);

	list-style: none;

	li {
		display: inline-block;
		@include flexy-span(12);

		@include padding(.5em);

		text-align: center;
	}

	@include flexy-breakpoint($tablet-screen) {
		@include flexy-span(6);

		li {
			@include flexy-span(auto);

			@include padding(null .5em);
		}
	}
}

.header-icon {
	@include flexy-span(2);

	text-align: center;

	@include flexy-breakpoint($tablet-screen) {
		display: none;
	}
}

.hide-menu {

	.site-menu {
		// @include transition(.5s);

		visibility: hidden;
		opacity: 0;
		max-height: 0;
	}

	@include flexy-breakpoint($tablet-screen) {
		.site-menu {
			visibility: visible;
			opacity: 1;
			max-height: 5em;
		}
	}
}