header {
	@include transition(.5s);

	background-color: color(medium);
}

.header-container {
	@include flexy-row();
	@include flexy-spacing(between);
	@include flexy-align(middle);

	@include flexy-container($max-width);

	text-align: left;

	@include flexy-breakpoint($tablet-screen) {
		text-align: center;
	}
}

.site-title {	
	@include flexy-span(auto);

	h4 {
		margin: .5em 0;
	}

	@include flexy-breakpoint($tablet-screen) {
		@include flexy-span(4);
		@include flexy-end(1);

		text-align: center;
	}
}

.site-tagline {
	display: none;

	@include flexy-breakpoint($tablet-screen) {
		display: block;
		@include flexy-span(7);
	}
}

.site-menu {
	@include flexy-row();
	@include flexy-span(12);
	@include flexy-justify(center);

	margin-bottom: 0;

	list-style: none;
	background-color: color(light);

	@include flexy-breakpoint($tablet-screen) {
		@include flexy-span(auto);
	}
}

.site-menu-item {
	display: inline-block;
	@include flexy-span(12);
	@include flexy-align(center);

	@include padding(1em);
	color: color(white);

	text-align: center;
	border-top: 1px solid color(light);
	border-bottom: 1px solid color(light);

	&:hover {
		background-color: color-s(color(light), light, 1);
		color: color(white);
		@include transition(.25s);
	}

	@include flexy-breakpoint($tablet-screen) {

		@include flexy-span(2);
		@include padding(.5em);

		border: none;
		@include transition(.25s);
	}
}

.header-icon {
	@include flexy-span(2);

	@include transition(.5s);
	@include transform(rotate(180deg));
	@include transform-origin(center);

	text-align: center;
	font-size: 2rem;
	cursor: pointer;

	@include flexy-breakpoint($tablet-screen) {
		display: none;
	}

	.hide-menu & {
		@include transform(rotate(0deg));
		@include transition(.5s);
	}
}

.hide-menu {

	.site-menu {
		visibility: hidden;
		opacity: 0;
		max-height: 0;
	}

	@include flexy-breakpoint($tablet-screen) {
		.site-menu {
			visibility: visible;
			opacity: 1;
			max-height: 5em;
		}
	}
}