.post-half-image,
.post-three-quarter-image { @include syn(xs, 0, 0, (center-m block)); }

.img-full {
  @include syn(xs, 0, 0, (center-m block));

  max-width: 100%;
}

// Classes for different image sizings
@include breakpoint($tablet-screen) {

  .post-half-image { max-width: 50%; }

  .post-three-quarter-image { max-width: 75%; }
}

figure {
  @include syn(xs, 0, 0, (marg-vert-2 center-m block, align-c));

  @include breakpoint($tablet-screen) {
    max-width: 75%;

    &.left,
    &.right {
      max-width: 40%;
      margin: $base-spacing;
    }

    &.left { float: left; }

    &.right { float: right; }
  }
}

.image-caption-img { @include syn(xs, 0, 0, (marg-vert-0 center-m)); }

figcaption {
  @include syn(xs, 12, 0, (pad-vert-1 pad-sides-2 inline-b border-b italic));

  @include line-height(0.75);
  margin-top: -$small-spacing;
  max-width: 100%;

  font-size: 80%;

  background-color: $secondary-background-color;
}

.flexbox.flexwrap {
  .flexy-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .gallery-img {
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: $small-spacing;
    max-width: rem(300px);

    @include breakpoint($tablet-screen) { max-width: 50%; }
  }
}

.no-flexbox.no-flexwrap,
.no-flexbox.flexwrap,
.flexbox.no-flexwrap {
  .flexy-gallery {

    img { margin: 0; }

    .gallery-img {
      @include syn(xs, 12, 0, (pad-1 inline-b border-b));

      @include breakpoint($tablet-screen) { width: 48%; }

      @include breakpoint($desktop-screen) { width: 30%; }
    }
  }
}
