
// Classes for different image sizings
@include flexy-breakpoint($tablet-screen) {
	
	.post-half-image {
		max-width: 50%;
	}

	.post-three-quarter-image {
		max-width: 75%;
	}
}

.image-caption {
	display: block;
	@include margin(1.5em auto);

	text-align: center;

	@include flexy-breakpoint($tablet-screen) {
		max-width: 75%;

		&.left, &.right {
			max-width: 40%;
			margin: 1.5em;
		}

		&.left {
			float: left;
		}

		&.right {
			float: right;
		}
	}
}

.image-caption-img {
	margin: 0 auto !important;
}

.caption-text {
	display: inline-block;
	@include padding(.5em);
	max-width: 100%;

	font-size: 80%;
	font-style: italic;

	background-color: lighten(color(light), 15%);
}

.flexy-gallery {
	@include flexy-row();
	@include flexy-justify(center);
	@include flexy-align(middle);

	img {
		margin: 0 !important;
	}

	.gallery-img {
		@include flexy-span(12, $padding: .5em);
		height: auto;

		box-sizing: border-box;
	}

	@include flexy-breakpoint($mobile-h-screen) {
		
		.gallery-img {
			@include flexy-span(6, $padding: .5em);
		}
	}

	@include flexy-breakpoint($tablet-screen) {
		
		.gallery-img {
			@include flexy-span(4, $padding: .5em);
		}
	}

	@include flexy-breakpoint($desktop-screen) {
		
		.gallery-img {
			@include flexy-span(3, $padding: .5em);
		}
	}
}