.post-half-image,
.post-three-quarter-image {
  @include margin(null auto);
  display: block;
}

.img-full {
  display: block;
  max-width: 100%;

  margin: 0 auto;
}

// Classes for different image sizings
@include flexy-breakpoint($tablet-screen) {

  .post-half-image {
    max-width: 50%;
  }

  .post-three-quarter-image {
    max-width: 75%;
  }
}

figure {
  @include margin($base-spacing auto);
  display: block;

  text-align: center;

  @include flexy-breakpoint($tablet-screen) {
    max-width: 75%;

    &.left,
    &.right {
      max-width: 40%;
      margin: $base-spacing;
    }

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }
  }
}

.image-caption-img {
  margin: 0 auto !important;
}

figcaption {
  @include padding($small-spacing 1em);
  margin-top: -$small-spacing;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;

  font-size: 80%;
  font-style: italic;

  background-color: $secondary-background-color;
}

.flexbox.flexwrap {
  .flexy-gallery {
    @include flexy-row();
    @include flexy-justify(center);
    @include flexy-align(middle);

    img { margin: 0; }

    .gallery-img {
      @include flexy-span(12, $padding: $small-spacing);
      height: auto;

      box-sizing: border-box;

      @include flexy-breakpoint($mobile-h-screen) {
        @include flexy-span(6, $padding: $small-spacing);
      }

      @include flexy-breakpoint($tablet-screen) {
        @include flexy-span(4, $padding: $small-spacing);
      }

      @include flexy-breakpoint($desktop-screen) {
        @include flexy-span(3, $padding: $small-spacing);
      }
    }
  }
}

.no-flexbox.no-flexwrap,
.no-flexbox.flexwrap,
.flexbox.no-flexwrap {
  .flexy-gallery {

    img {
      margin: 0;
    }

    .gallery-img {
      @include padding($small-spacing);
      display: inline-block;
      box-sizing: border-box;
      width: 100%;

      @include flexy-breakpoint($tablet-screen) { width: 48%; }

      @include flexy-breakpoint($desktop-screen) { width: 30%; }
    }
  }
}
