pre {
	background-color: $secondary-background-color;
	padding: $base-spacing;
	font-family: $monospace;

	overflow: scroll;
}

p code {
	background-color: color(dark);
	color: color(light);
	padding: .25em;
}