$tool-height: 8em;
$tool-width: 525%;
$tool-animation-width: (($tool-width - 75%) * -1);

.fav-tools {
	height: $tool-height;
	width: 100%;
	overflow: hidden;
	@include margin(0);
}

.tool-list {
	@include flexy-row();

	max-height: $tool-height;
	height: $tool-height;
	width: $tool-width;

	@include keyframes(tool-scroll) {
		0%   { 
			margin-left: 0;
		}
		
		2.5%   { 
			margin-left: 0;
		}

		47.5%   { 
			margin-left: $tool-animation-width;
		}

		52.5%   { 
			margin-left: $tool-animation-width;
		}
		
		97.5% {
			margin-left: 0;
		}

		100% {
			margin-left: 0;
		}
	}

	@include animation('tool-scroll 70s linear 0s infinite')
}

.tool-image {
	width: 55px;
	height: 55px;

	background-color: white;
}

.tool-item {
	@include flexy-span(auto, $padding: 0 1em);
	@include flexy-align-self(middle);

	display: inline-block;
	@include margin(0);

	@include flexy-breakpoint($tablet-screen) {
		padding: 0;
	}
}