/*  Container */
.fr-tooltip--is-ready {
  position: relative;
}

.fr-tooltip-tooltip {
  @include transition(0.25s);
  @include position(absolute, null 0 60% 0);
  visibility: hidden;
  padding: $base-spacing / 3;
  box-sizing: border-box;
  opacity: 0;


  color: color(blank);
  font-size: 0.69em;
  line-height: 1.5em;

  background-color: color(dark);

  @include flexy-breakpoint($tablet-screen) { font-size: 0.83em; }

  &:after {
    @include position(absolute, 100% null null 10%);
    @include size(0);
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid color(dark);
  }
}

.fr-tooltip-tooltip[aria-hidden="false"] {
  @include transition(0.25s);
  @include position(absolute, null 0 150% 0);
  visibility: visible;
  opacity: 1;
}

.js-fr-tooltip-toggle,
.js-fr-tooltip-toggle:hover,
.js-fr-tooltip-toggle:active,
.js-fr-tooltip-toggle:focus {
  padding: 0;
  display: inline;
  vertical-align: inherit;

  color: color(dark);
  font-weight: 300;
  text-align: left;
  text-decoration: underline;
  text-decoration-style: double;

  border: none;
  background: none;
}
