<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

  {% include head.html %}

  <body class="ma-l-default__wrapper">
    <main role="main" class="ma-l-default__main">
      <div class="ma-l-default__nav">
        {% include nav.html %}
      </div>

      <div class="ma-l-default__content ma-l-home__wrapper" aria-label="Content">
        <div class="ma-l-home__image">
          <img src="/img/profile-dev.png" alt="Cartoon image of Max Antonucci at a computer" class="ma-m-profileImg">
        </div>

        <div class="ma-l-home__content">
          {{ content }}
        </div>
      </div>
    </main>

  </body>

  {% include footer_links.html %}

</html>
