<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="homepage">

	<section class="l-home__opening">
		<article class="l-home__title">
			<h2>{{ site.title }}</h2>
			<h5>{{ site.description }}</h5>
			<a href="javascript:void(0)" class="button" id="learn-more-button">
				Learn More
			</a>
		</article>
		<article class="l-home__image">
			<img src="/img/profile-dev.png">
		</article>
	</section>

	<section class="l-home__info">
		<article class="l-home__perspective">
			<div class="cube">
			    {% for skill in site.data.skills %}
					<div class="side perspective-{{ skill.side }}">
						<i class="icon-{{ skill.icon }}"></i>
					</div>
			    {% endfor %}
			  </div>
		</article>

		<article class="l-home__info-description">
			<h3 class="l-home__info-description-title">About me</h3>
			{{ content }}
		</article>
	</section>

	<section class="l-home__blog">
		<h3 class="l-home__blog-mainTitle" >From My Blog</h3>
		<div class="blog-list">
			  
			{% for post in site.posts limit: 2 %}
			  {% include blog_item.html %}
			{% endfor %}

		</div>
		<br>
		<div class="l-home__blog-link">		
			<a class="button" href="/blog/">
				More From My Blog
			</a>
		</div>
	</section>

	{% include footer.html %}

  <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  </body>

</html>