<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="homepage">

	<section class="home-opening">
		<article class="home-title">
			<h2>{{ site.title }}</h2>
			<h5>{{ site.description }}</h5>
			<button id="learn-more-button">Learn More</button>
		</article>
		<article class="home-image">
			<img src="img/profile-dev.png">
		</article>
	</section>

	<section class="home-info">
		<article class="home-perspective">
			<div class="cube">
			    {% for skill in site.data.skills %}
					<div class="side perspective-{{ skill.side }}">
						<i class="icon-{{ skill.icon }}"></i>
					</div>
			    {% endfor %}
			  </div>
		</article>

		<article class="home-info-description">
			<h3 class="home-info-description-title">About me</h3>
			{{ content }}
		</article>
	</section>

	<section class="home-blog">
		<h3 class="home-blog-mainTitle" >From My Blog</h3>
		{% for post in site.posts limit: 2 %}
		    <article class="home-blog-item">
		      <h4 class="home-blog-title">
		        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		      </h4>
		      
		      <div class="home-blog-excerpt"> 
		        {{ post.excerpt }}
		      </div>
		    </article>
		{% endfor %}
		<br>
		<div class="home-blog-link">		
			<button>
				<a href="/blog/">
					More From My Blog
				</a>
			</button>
		</div>
	</section>

	{% include footer.html %}

  <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>

</html>