<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="homepage">

	<section class="l-home__opening">
		<article class="l-home__title">
			<h2>{{ site.title }}</h2>
			<h5>{{ site.description }}</h5>
			<a href="javascript:void(0)" class="button" id="learn-more-button">
				Learn More
			</a>
		</article>
		<article class="l-home__image">
			<img src="/img/profile-dev.png">
		</article>
	</section>

	<section class="l-home__info">
		<article class="l-home__info-wrapper">
			<h3 class="l-home__info-title">
				A Brief Summary of Me
			</h3>
			{{ content }}

			<div class="l-home__links-container">
				{% for menu in site.data.menu %}
					{% if menu.name != 'Blog' %}
						<a href="{{ menu.link }}" class="l-home__link button">
							{{ menu.name }}
						</a>
					{% endif %}
				{% endfor %}
			</div>
		</article>
	</section>

	<section class="l-home__blog">
		<h3 class="l-home__blog-mainTitle" >From My Blog</h3>
		<div class="blog-list">
			  
			{% for post in site.posts limit: 2 %}
			  {% include blog_item.html %}
			{% endfor %}

		</div>
		<br>
		<div class="l-home__blog-link">		
			<a class="button" href="/blog/">
				More From My Blog
			</a>
		</div>
	</section>

	{% include footer.html %}

  <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  </body>

</html>