<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body class="max-l-leftNav">
    <div class="max-l-leftNav__top">
      {% include components/top-nav.html %}
    </div>

    <div class="max-l-leftNav__nav">
      {% include components/left-nav.html %}
    </div>

    <main role="main" aria-label="Content" class="max-l-leftNav__content max-p-base max-px-oneHalf-md max-px-svg-bubble-lg max-maxWidth-lg max-mx-auto">
      {% include components/article.html
        title = page.title
        content = content
        date = page.date
        icon = page.icon
      %}
    </main>
  </body>

  {% include footer.html %}
</html>
