<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

  {% include head.html %}

  <body class="ma-l-default__wrapper">
    <main role="main" class="ma-l-default__main">
      <div class="ma-l-default__nav">
        {% include nav.html %}
      </div>

      <div class="ma-l-default__header">
        {% include components/header.html
          title = page.title
          tagline = page.excerpt
          hide_tagline = page.hide_tagline
          date = page.date
          bg_img = page.featured-img
        %}
      </div>

      <article aria-label="article" class="ma-l-default__content ma-c-blogContent">
        {{ content }}

        <p class="ma-l-default__sig">
          ~ Cheers, Max A
        </p>
      </article>

      <div class="ma-l-default__footer">
        {% include footer.html %}
      </div>
    </main>
  </body>
</html>
