footer {
	background-color: color(medium);
	border-top: 1em solid color(light);
}

.footer-container {
	@include flexy-row();
	@include flexy-container($max-width);
	@include flexy-align(middle);

	ul {
		list-style-type: none;

		li {
			display: inline;
		}
	}
}