$flexy-container-padding: $base-spacing 7.5%;
$max-width: em(1024px);

$synapse: (
  columns: 12,
  layouts: (
    xs:  0,
    sm:  $mobile-h-screen,
    md:  $tablet-screen,
    lg: $desktop-screen,
    xlg: $huge-screen
  ),
  spaceUnits: (
    $small-spacing,
    $base-spacing,
    $base-spacing + $small-spacing,
    $base-spacing * 2
  )
);

@mixin synapse-custom($var) {

  @if ($var == 'italic') {
    font-style: italic;
  } @elseif ($var == 'width-auto') {
    width: auto;
  }
}


body {
  margin: 0;

  background-color: $base-background-color;
}

// Initial sizing for all posts and pages
.page-content,
.post-content {
  @include syn(xs, 12, 0, ('border-b'));
  @include syn(md, 10, 1, (''));

  padding: $base-spacing 2.5%;
}

// Container for blog posts, slightly slimmer than static pages
.post-content { @include syn(lg, 8, 2, ('')); }
