$flexy-container-padding: 1em 7.5%;
$max-width: em(1024px);

body {
	margin: 0;

	background-color: color-s(color(light), light, 9);
}

.page-content {
	// @include flexy-container($max-width);
	@include padding(0 null);
}

body:not(.homepage) {
	.page-content {
		width: 100%;
		padding: 1em;

		@include flexy-breakpoint($tablet-screen) { padding: .5em 2em;}

		@include syn(md, 8, 4, (''));
		@include syn(lg, 9, 3, (''));
	}
}

header {
	@include size(100%);

	@include syn(md, 4, 0, (''));
	@include syn(lg, 3, 0, (''));

	@include flexy-breakpoint($tablet-screen) { position: fixed; }
}

// Gallery, Blog, Resume, Blog post, Page, Homepage, Nav, default layout