$flexy-container-padding: 1em 7.5%;
$max-width: em(1024px);

body {
	margin: 0;

	background-color: lighten(color(light), 25%);
}

.page-content {
	@include flexy-container($max-width);
	@include padding(0 null);
}

header, footer, .page-content {
	width: 100%;
	box-sizing: border-box;
}