$button-color: color(blank);

.button {
  appearance: none;
  background-color: $g-action-color;
  border: 0;
  border-radius: $g-base-border-radius * 2;
  color: $button-color;
  cursor: pointer;
  display: inline;
  font-family: $g-base-font-family;
  font-size: $g-base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  margin: 0 auto;
  padding: spacing(half) spacing(half);
  text-decoration: none;
  transition: background-color $g-base-duration $g-base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($g-action-color, 20%);
    color: $button-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  a,
  a:hover { color: $button-color; }
}
