pre {
  max-height: rem(400px);
  background-color: color(blank);
  padding: spacing(half);
  font-family: $monospace;

  overflow: scroll;
}

p code {
  background-color: color(dark);
  color: color(light);
  padding: rem(2px) rem(5px);
}
