// The base typography elements
body {
  $body-font-size: strip-unit(modular-scale(0)) * 1rem;
  $body-font-scale: strip-unit(spacing(fourth)) * 1vw;

  @include line-height(1);
  font-size: calc(#{$body-font-size} + #{$body-font-scale});

  color: color(dark);
  font-family: $g-base-font-family;
  font-feature-settings: 'kern', 'liga', 'pnum';
}


// This generates the font sizes based on modular scale so they're consistent and easy to manage.
@each $key, $value in $g-modular-size-map {
  $main-font-size: strip-unit(modular-scale($value)) * 1rem;
  
  $base-vw: strip-unit(spacing(half)) * 1vw;
  $small-vw: strip-unit(spacing(fourth)) * 1vw;

  #{$key} {
    // font-size: $scaled-font-size;

    font-size: calc(#{$main-font-size} + #{$small-vw});
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include line-height(1.5);
  @include margin-top(1.5);
  @include margin-bottom(0.5);

  font-family: $g-heading-font-family;
  font-weight: 300;
}

h1 + h2 { @include margin-top(1); }

h2 + h3,
h3 + h4,
h4 + h5 { @include margin-top(0.5); }

h5 + h6 { @include margin-top(-0.5); }

p {
  @include margin-bottom(0.75);
}

a {
  color: color(action);
  text-decoration: none;
  transition: color $g-base-duration $g-base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade(color(action), 25%);
  }
}

hr {
  @include margin-top(1);
  @include margin-bottom(1);

  border-bottom: $g-base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

strong { font-weight: 700; }

em { font-style: italic; }

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote:not(.twitter-tweet) {
  @include syn(xs, 0, 0, (align-c, pad-2));
  @include syn(md, 5, 0, (float-r));

  margin: 4%;

  font-family: $g-heading-font-family;

  border-top: $g-base-border-width solid color(medium);
  border-bottom: $g-base-border-width solid color(medium);
  color: color(medium);

  p {
    margin: 0;
    
    font-size: inherit !important;
  }
}

// For blockquotes that are from Twitter
.twitter-tweet {
  margin: 0;
  padding: spacing(half) spacing();

  background-color: color(blank);
  border-top: $g-secondary-border-width solid color(medium);
  border-bottom: $g-secondary-border-width solid color(medium);
}
