// The base typography elements
body {
  @include font-size(1);
  @include line-height(1);

  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: 'kern', 'liga', 'pnum';
}


// This generates the font sizes based on modular scale so they're consistent and easy to manage.
@each $key, $value in $modular-size-map {
  $main-font-size: modular-scale($value);
  $scaled-font-size: $main-font-size * $scaled-font-ratio;

  #{$key} {
    font-size: $scaled-font-size;
    font-size: rem($scaled-font-size);

    @include flexy-breakpoint($tablet-screen) {
      font-size: $main-font-size;
      font-size: rem($main-font-size);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include line-height(1);
  @include margin-top(2);
  @include margin-bottom(1);

  font-family: $heading-font-family;
  font-weight: 300;
}

h1 + h2 { @include margin-top(1); }

h2 + h3,
h3 + h4,
h4 + h5 { @include margin-top(0.5); }

h5 + h6 { @include margin-top(-0.5); }

p { @include margin-bottom(1); }

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  @include margin-top(1);
  @include margin-bottom(1);

  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

strong { font-weight: 700; }

em { font-style: italic; }

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote p { font-size: inherit !important; }
